[2017-08-29 04:20] Zaynex opened #3 "I have a question about resizingConstraint"
What is `resizingConstraint: 63` mean ?
I think it means you don't select anything about `resizinng` in sketch.
so what is  `resizingConstraint: 53` mean?
Did you hardcode it ?
@kdzwinel

[2017-08-29 08:33] kdzwinel commented on #3
Hey Martin! I did only a small research in this direction and yes - `resizingConstraint` controls how element resizes in sketch and `63` seems to be the default value. Right now it is [hardcoded](https://github.com/brainly/html-sketchapp/blob/7845f1bda55789be6726dbf4fe2bc5da36cdfb4a/html2asketch/base.js#L9), but I made [one method](https://github.com/brainly/html-sketchapp/blob/8fe4b8524bb936ac7b5

[2017-08-29 08:46] Zaynex commented on #3
it seems like 2^6  = 63,and it the default binary 111111(maybe top right bottom left width ,height), when you select, 1 will be 0

[2017-08-29 08:49] kdzwinel commented on #3
Yep, that's what I observed too, but I haven't investigated that in detail.
12 (which I use to set fixed height and width) = 001100

[2017-08-29 09:01] Zaynex commented on #3
I think fix width and height is not equal 12 . You can try again. I got 45

[2017-10-30 17:20] dubert opened #4 "Help with SVG support"
This project is amazing.

I would love give a shot at adding in SVG support, but I'm a little lost on where to start.

Would it be too much to ask for a simple outline for me to follow on the steps needed to build support?

So far I have:

**html2asketch:**
- add a SVG class that extends Base
- handle SVGs in nodeToSketchLayers.js

**asketch2sketch**
- somehow handle the JSON SVG objects and conve

[2017-10-30 23:05] kdzwinel commented on #4
First of all - oh wow, someone read the docs, managed to run it and still says it's good ❤️

Secondly, SVG support would be rad!

There are two possible solutions I see:

1) If you are thinking about `<svg>` -> `.sketch` converter there is no need to do anything in `asketch2sketch`. Valid Sketch represenation of SVG should be generated in `html2asketch`. `asketch2sketch` is for stuff that 'pure JS

[2017-11-01 18:55] dubert commented on #4
Thanks a lot for your reply! That is really helpful. I'm working on this as a side project, but hopefully I'll have an update in a few weeks.

[2017-11-09 20:57] jeroenransijn opened #9 "Using specific data attributes for Sketch"
This is an amazing tool. Haven't run it yet, but I have been wanting to build this myself. What would be amazing is to have control over some Sketch specific properties by passing those props through data attributes.

As an example imagine the following component:

[code]

I can think of some props like:

* data-sketch-layer-style
* data-sketch-link-object

Haven't thought it through all the way,

[2017-11-09 20:59] jeroenransijn commented on #9
Some stuff in here that might be nice to be able to control:

[code]

[2017-11-10 00:11] jeroenransijn commented on #9
I realized there is ways to customize the output: [https://github.com/brainly/html-sketchapp-style-guide/blob/master/src/styleguide2asketch.js](https://github.com/brainly/html-sketchapp-style-guide/blob/master/src/styleguide2asketch.js)

[2017-11-10 05:51] jeroenransijn commented on #4
I am using inline SVGs for some icons in our [design system](https://segmentio.github.io/evergreen/iframe.html?selectedKind=buttons&selectedStory=IconButton). So far they are not showing up, I will try to investigate further. Might be somehow invalid SVGs.

[2017-11-10 07:17] jeroenransijn commented on #4
I have shortly looked into understanding how SVG is converted into the Sketch representation, it seems possible maybe for simple icons, but definitely is super hard because you would have to figure out what Sketch gives you for all of the SVG spec pretty much.

I agree that the passing on the SVG string is probably the best and most reliable solution. I found [a post](http://sketchplugins.com/d/26

[2017-11-10 09:11] jeroenransijn commented on #4
I got a proof of concept running of SVGs:

<img width="736" alt="poc-svg" src="https://user-images.githubusercontent.com/564463/32650658-77642dbc-c5b3-11e7-9437-95d0d7eb68b3.png">

The code is messy, but it's late here right now so I will have a look tomorrow. There are some obvious hacks I am doing right now, what is a little annoying is that I use some custom data inside of the layer that `fromS

[2017-11-10 11:51] kdzwinel commented on #3
Eventually, we'd like to support importing "responsivity" information to Sketch (if you'd like to help - let me know!), but for now I'm closing this issue since no one is actively working on this.

[2017-11-10 11:51] #3 closed

[2017-11-10 16:12] kdzwinel commented on #4
@jeroenransijn Thanks for a neat proof of concept 👌 This should make implementation of this much easier.

One thing that's missing from your POC is styling that should be extracted for each element of the SVG (`getComputedStyle` - same thing we do with regular nodes). Because it's missing, icons on your screenshot are black (instead of white/gray). Missing styling may also be responsible for posit

[2017-11-10 17:36] jeroenransijn commented on #4
@kdzwinel Yeah the example I shared is really sloppy and missing a ton of stuff. Wanted to make something work end-to-end to understand all the things that go into it. I think I understand the steps you have outlined, but I am not sure how I should go about serializing the right JSON for `fromSJSONDictionary(layer)`. It sounds like what I am missing on the Sketch side is a class that is used for t

[2017-11-10 19:08] kdzwinel commented on #4
In the `.asketch.json` file, representation of the raw svg is up to us (I like `'_class': 'svg'` that you proposed). In asketch2sketch.js only thing we need to do is:
- realize that given layer is `_class === svg`
- use your script (`var svgLayer = svgImporter.importAsLayer();`) and get a layer object
- add this layer object to the page (`page.addLayer(svgLayer)`)

There is no need to deal with `f

[2017-11-10 19:17] jeroenransijn commented on #4
The problem I experienced was actually by passing layers that have SVG as children/layers. I wasn't doing `_class: 'svg'` so maybe that was the issue. I published my WIP branch here if you are curious in the whole thing: https://github.com/jeroenransijn/html-sketchapp/tree/add/svg-support

[2017-11-11 19:25] kdzwinel opened #11 "Linear gradient: support all angles"
Thanks to @jeroenransijn we have support for 90/180/270/360deg linear gradient. Other angles are not yet supported.

If you are into math, please help!

Good place to start: https://github.com/brainly/html-sketchapp/blob/master/html2asketch/helpers/convertAngleToFromAndTo.js

[2017-11-11 19:26] kdzwinel opened #12 "Support radial gradient"

[2017-11-11 19:26] kdzwinel opened #13 "Support multiple backgrounds"

[2017-11-11 19:30] kdzwinel opened #14 "Add e2e tests"
Feed system with getComputedStyles and getBoundingBox as input and validate output `.asketch.json` file. Use existing jest setup.

[2017-11-11 19:31] kdzwinel opened #15 "Add code coverage setup"

[2017-11-11 19:33] kdzwinel opened #16 "Improve folder structure"
As @jeroenransijn [suggested](https://github.com/brainly/html-sketchapp/pull/10#discussion_r150292702) - create `parsers` folder in `html2asketch` and put all parsers in there (some of the parsers will need to be extracted from the `nodeToSketchLayers.js`)

[2017-11-11 20:02] kdzwinel opened #17 "Support background size"
Without background-position all sprites won't work. E.g. from google.com:
<img width="137" alt="screen shot 2017-11-11 at 21 01 30" src="https://user-images.githubusercontent.com/985504/32693021-a2459b44-c723-11e7-9bbd-d056327491cf.png">

[2017-11-11 20:14] kdzwinel opened #18 "Support overflow"
Currently nodes that overflow their container with `overflow:hidden` are still visible:

<img width="392" alt="screen shot 2017-11-11 at 21 12 18" src="https://user-images.githubusercontent.com/985504/32693102-1b4d3dd4-c725-11e7-9002-7f3f868416dc.png">

[2017-11-11 20:21] kdzwinel opened #19 "Support text-indent"
text-indent is often used to hide text description of the icon e.g smashingmagazine.com:

<img width="817" alt="screen shot 2017-11-11 at 21 20 10" src="https://user-images.githubusercontent.com/985504/32693152-2297d558-c726-11e7-86f4-b6229b057055.png">

Currently, we are not hiding this text because text-indent is not supported.

[2017-11-11 21:29] jeroenransijn commented on #18
Tricky one. I guess creating a mask should work here.

[2017-11-11 21:36] jeroenransijn opened #20 "Support before and after pseudo classes"
It would be nice to build in support for before and after elements.

[2017-11-11 21:47] jeroenransijn opened #21 "Support multiple box-shadows and background(-image) values"
Somewhat related to #6. Looking at the source I don't see yet that it supports multiple box shadows. Which is a must for my use cases.

We should be able to support the following:

[code]

### General multi parser

It might be nice to have a function or parser that simply splits the parts. I wrote something similar for `background.js`. I am not great at algorithms, there might be better approaches

[2017-11-11 21:50] jeroenransijn opened #22 "Support transform"
This one is hard. It be worth taking shortcuts here to support a small number of actual use cases:

I use `transform: rotate(X)` to aim my arrows and icons [in my design system](https://segmentio.github.io/evergreen/?selectedKind=buttons&selectedStory=IconButton&full=0&down=0&left=1&panelRight=0&downPanel=storybook%2Factions%2Factions-panel). Would love to have support for that one that would simp

[2017-11-11 21:59] kdzwinel commented on #20
Getting styles for these pseudo elements, and checking if they exist in the first place, boils down to this: `getComputedStyle(someNode, 'after').content.length > 0`. Not sure how to calculate bounding client rect for pseuldo elements though 🤔

[2017-11-11 22:01] kdzwinel commented on #21
Your parser looks fine to me 👍 I'm just starting to wonder if we could reuse something like https://github.com/reworkcss/css , WDYT?

[2017-11-11 22:03] kdzwinel commented on #22
We should probably be able to convert all possible `transform` values to a generic [`matrix` transform](https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/matrix) and try to convert to sketch from that.

[2017-11-11 22:13] kdzwinel commented on #9
Yeah, exactly - this project aims to be a generic library that allows to do custom stuff like html-sketchapp-style-guide. While I agree that things like `data-sketch-layer-style` would be useful, I think it's not a good fit for `html-sketchapp`.

[2017-11-11 22:13] #9 closed

[2017-11-11 23:40] KimDal-hyeong commented on #20
Is it the only way to add 'pseudo' as a real element to a document?

This is the code that adds 'after, before' to span.
[code]

When I run it, 'clearfix' using 'display: table;' causes problems ...

[2017-11-11 23:55] KimDal-hyeong opened #23 "Support placeholder and values in input, select, textarea"
It does not support placeholders and values in inputs, selects, and textareas.
It will be similar to after, before pseudo.

[2017-11-12 00:01] KimDal-hyeong commented on #23
I've tried a lot, but it's too hard to get the style of the placeholder...ㅠ

[2017-11-12 00:35] jeroenransijn commented on #21
That looks pretty amazing! I am all for outsourcing the parsing as much as possible, and relying on something like this. Do you know how much different CSS is from what we get from getComputedStyle?

Also, I just noticed @dominicbarnes contributed to that repo years ago. He is one of my coworkers. I might give him a ping on this and ask him some questions — small world.

[2017-11-12 00:43] jeroenransijn commented on #20
@KimDal-hyeong we might be able to see if something is hidden or not based on what we get back from `window.getComputedStyle`:

* `width`
* `height`
* `visibility`
* `display`

Or it might be I am missing something?

I think you people are right the limitations of using `getClientBoundingRect`. If it's not reliable, I wouldn't mind deprioritizing this. I have some components I want to support that

[2017-11-12 01:05] jeroenransijn commented on #21
@kdzwinel I looked through some of the repos under reworkcss and I see it's mainly concerned about parsing the css itself, [not so much declarations](https://github.com/reworkcss/css#declaration).

Let me know if you find something that works, otherwise I think we'll have to write some of our own parsers, or look around some other css processing libraries.

[2017-11-12 01:16] jeroenransijn opened #24 "Build error"
[code]

[2017-11-12 01:27] jeroenransijn commented on #21
Found the following package which seem to be more what we need [postcss-values-parser](https://github.com/shellscape/postcss-values-parser).

The [following test](https://github.com/shellscape/postcss-values-parser/blob/master/test/comma.js) might be what we need:

[code]

[2017-11-12 01:27] kdzwinel commented on #24
Looks like `.babelrc` causes it (it probably overrides default skpm babel settings). I'll try to resolve it on Monday. Workaround for now is to remove this file when building.

[2017-11-12 01:33] jeroenransijn commented on #24
Thank for the quick reply! Will just ignore it for now.

[2017-11-12 19:03] kdzwinel commented on #18
Agreed, mask should work 👍

[2017-11-12 19:12] kdzwinel commented on #4
Haven't looked at your branch yet, but @mathieudutour (from Sketch team) just opened a PR for SVG support in react-sketchapp: https://github.com/airbnb/react-sketchapp/pull/204/files#diff-612a8e68a84e25aaebafd131faf4a1b2R318 . It looks like we got the first part right, he is also using SVG importer, but then he's converting layer object back to JSON, which, as I understand now, is what you had iss

[2017-11-12 19:13] mathieudutour commented on #4
don't mind at all 😄

[2017-11-12 20:16] kdzwinel commented on #20
As far as I understand @KimDal-hyeong idea and code, we can replace pseudoelements with "real" elements and continue business as usual. I think this is a really neat workaround 👏, but probably not something solid enough to put into html-sketchapp. I think we should be able to figure out position from CSS props, but this will be tricky.

[2017-11-23 08:52] kdzwinel commented on #18
Clip property is also not supported: https://twitter.com/markdalgleish/status/933528455198556160

[2017-11-26 06:26] ryngonzalez opened #29 "Crash when editing text after importing `.asketch` file"
Tried using this project to experiment both with a fork of https://github.com/brainly/html-sketchapp-example/ and [this branch of seek-style-guide](https://github.com/seek-oss/seek-style-guide/tree/generate-sketch-symbols-with-html-sketchapp).

For both those projects, I was able to reproduce crashes with these steps:

1. Import an `asketch` file with some text values
2. Try to either edit a gener

[2017-11-26 06:37] markdalgleish commented on #29
Just FYI, this is probably a good time for the [details tag](https://gist.github.com/ericclemmons/b146fe5da72ca1f706b2ef72a20ac39d) :smile:

[2017-11-26 06:44] ryngonzalez commented on #29
(@markdalgleish updated issue to have error logs in linked gists)

[2017-11-26 21:52] markdalgleish commented on #29
I've experienced the same issue. If it helps, here's my error log from Sketch 47.1.

<details>
<summary>Show error log</summary>
Incident Identifier: A509D0AA-C0D1-413D-BD20-508C4899409A
CrashReporter Key:   47EF8578-1E22-55B9-AB5E-8AD41E140865
Hardware Model:      MacBookPro11,4
Process:         Sketch [96206]
Path:            /Applications/Sketch.app/Contents/MacOS/Sketch
Identifier:      com.bo

[2017-11-26 23:56] kdzwinel commented on #29
Can you please try:
1. saving file imported from asketch as a sketch file
1. restarting Sketch
1. loading Sketch file
1. trying to edit the text layer?

If it will still crash, we should probably complain to Sketch people (I may know the right person).
Also, a minimal example (sketch file with only a single text layer), would be very useful.

Thanks a bunch 👌

[2017-11-29 00:34] markdalgleish commented on #29
**Okay, this bug actually seems to be much worse.**

I just shared an html-sketchapp generated Sketch library with my design team and they're reporting that it crashes when creating a *vanilla* Sketch text element and trying to edit it—not even using a style guide element. *Even after removing the Sketch library and going back to stock-standard Sketch.* It's like it's permanently broken the app.

[2017-11-29 00:45] ryngonzalez commented on #29
I've seen this as well @markdalgleish; the only way for me to fix this is to open up an existing Sketch file that was created before the import of the `asketch` file and copy a text element from there.

[2017-11-29 01:11] markdalgleish commented on #29
I managed to fix Sketch by following these instructions: https://www.uninstallmacapp.com/sketch-3-removal.html

Now that I've fixed it, trying to see if I can consistently reproduce the issue.

[2017-11-29 01:50] markdalgleish commented on #29
Okay, I've been able to consistently reproduce this issue (I feel like a proper QA right now).

1) Open [SEEK Style Guide Library.sketch](https://github.com/brainly/html-sketchapp/files/1512093/SEEK.Style.Guide.Library.zip) and add it as a library.
2) Create a new document.
3) Add any `Text` symbol from SEEK Style Guide Library, e.g. `Text > Heading > Desktop`.
4) Right click the text and click "D

[2017-11-29 15:26] kdzwinel commented on #29
Thanks for reporting it and creating a test case!

I don't see such bugs reported in react-sketchapp, so I'm guessing that html-sketchapp is doing something wrong 😕

I'm able to freeze sketch just by opening your file and trying to change text on any of the text layers. To simplify debugging I've created a minimal example (no document colors & shared styles, no user settings, and only one symbol c

[2017-11-29 15:44] kdzwinel commented on #29
BTW I've also found a simpler way of "fixing" Sketch after it breaks:

`rm "${HOME}/Library/Application Support/com.bohemiancoding.sketch3/textStyle-*"`

Which also points to the text styles being the issue.

[2017-11-29 16:14] kdzwinel commented on #29
It looks like `MSAttributedString` is the root of the problem. Changing its value to <details>
[code]
</details>

fixes minimal.sketch. `MSAttributedString` is generated by [fixFont.js](https://github.com/brainly/html-sketchapp/blob/master/asketch2sketch/helpers/fixFont.js) which was [taken from react-sketchapp](https://github.com/airbnb/react-sketchapp/blob/master/src/jsonUtils/hacksForJSONImpl.j

[2017-11-29 18:13] KimDal-hyeong commented on #29
I think it's because of line-height and letter-spacing.
line-height and letter-spacing defaults to 'normal'.
We are doing this with parseInt and parseFloat.
It returns 'NaN' and It change to 'null' via 'JSON.stringify'.

JSON Output :
[code]

'makeAttributedString' and 'makeParagraphStyle' in fixFont.js does not apply styles only to 'undefined'.

Now, asketch2sketch puts a value of 'null' in the l

[2017-11-29 20:31] kdzwinel commented on #29
@KimDal-hyeong Bravo!

@markdalgleish I just merged the PR, can you please confirm that it fixes the issue?

[2017-11-29 21:25] markdalgleish commented on #29
Sorry to say, I'm still experiencing this issue 😞

[2017-11-29 21:38] KimDal-hyeong commented on #29
@markdalgleish
I do not know why, but this bug follows the last modified layer.
So to escape the bug state, you have to modify the text layer of the sketch file, which works well in the past.

Attach the sketch file that I was able to escape.
[escape.zip](https://github.com/brainly/html-sketchapp/files/1515633/escape.zip)

Open this file and modify the text layer inside once.
Then try all the oper

[2017-11-29 21:46] markdalgleish commented on #29
@KimDal-hyeong I just tried to edit the text in `escape.sketch` and it crashed 😭

[2017-11-29 21:47] markdalgleish commented on #29
Tried again—took a bit of fiddling around—but I was finally able to edit the text.

[2017-11-29 21:56] KimDal-hyeong commented on #29
@markdalgleish Could you open it again after the crash and edit it? I will escape in this way .. ㅠ

[2017-11-29 22:00] KimDal-hyeong commented on #29
@markdalgleish Can I share the json file used in the previous steps?

[2017-11-29 22:03] markdalgleish commented on #29
Yep, here you go.

[SEEK Style Guide Library - asketch json.zip](https://github.com/brainly/html-sketchapp/files/1515718/SEEK.Style.Guide.Library.-.asketch.json.zip)

[2017-11-29 22:12] KimDal-hyeong commented on #29
<img width="434" alt="2017-11-30 7 06 15" src="https://user-images.githubusercontent.com/16788797/33401544-fd1ae98e-d59c-11e7-8ade-01acb71cec1a.png">

This json file still has a null value.
Did you create this file after PR was merged?
Then, there may be other style values that create a null value.
What value does the letter-spacing and line-height of the text have?

Still, I'd like to re-extract

[2017-11-29 22:14] markdalgleish commented on #29
Yep, I installed the latest commit with your fix, and double checked the commit hash in my `package-lock.json`. I'll see if I can jump in and debug Puppeteer to see where these nulls are coming from.

[2017-11-29 22:40] markdalgleish commented on #29
Still working through this, but figured I'd report my progress so far.

It seems that the `undefined` line height and letter spacing values are being turned into nulls at some point. If I change the following line:

[code]

to this:

[code]

I can see the `12345` value flow through to the JSON instead of null.

I'm currently debugging Puppeteer and logging the node whenever the value is `normal`,

[2017-11-29 22:49] markdalgleish commented on #29
By the way, could we re-open the issue?

[2017-11-29 22:55] kdzwinel commented on #29
As far as I understand Sketch keeps last used text settings in `${HOME}/Library/Application Support/com.bohemiancoding.sketch3/textStyle-*`. Just remove the file when you need to fix editing.

I double checked the code and don't see when this can be happening 🤔 Hope you'll be able to debug it @marekskalik 🤞

[2017-11-29 23:43] KimDal-hyeong commented on #29
I do not know detail why, I found solution..

Change the version of puppeteer to 0.12.0.
And edit the code in **inject.js**.

`await page.injectFile ('./ build / styleguide2asketch.bundle.js'); `

to

`await page.addScriptTag ({path: './build/styleguide2asketch.bundle.js'});`

And try it. It will work fine.

I think when the puppeteer handles 'undefined' value in json,
It remove the value.

We wil

[2017-11-30 00:15] KimDal-hyeong commented on #29
I think that editing this code will definitely work.

**textStyle.js :**
[code]

[2017-11-30 17:09] #24 closed

[2017-12-01 13:49] kdzwinel commented on #29
Thanks to @KimDal-hyeong  and @markdalgleish we now know that issue is caused by Puppeteer incorrectly serializing undefined as null. I reported it here: https://github.com/GoogleChrome/puppeteer/issues/1510 . Current workaround is to `JSON.stringify` result before returning from the browser. I'll update html-sketchapp-style-guide and html-sketchapp-example accordingly.

[2017-12-01 13:49] #29 closed

[2017-12-02 21:11] arahansen opened #37 "Use react-sketchapp directly?"
So in the README, html-sketchapp mentions that they pulled heavily from the source of react-sketchapp to implement this tool. Looking through the source of html-sketchapp, it seems a lot of this seems to be related to how sketch json is constructed.

I'm wondering the reason why this code was copied over, rather than directly leveraging the work react-sketchapp has done to generate sketch elements

[2017-12-02 21:12] arahansen commented on #37
I also just came across this Pr: https://github.com/brainly/html-sketchapp/pull/36

If we were able to figure out a way that incorporates what I've proposed, these "syncs" wouldn't need to happen.

[2017-12-02 21:42] kdzwinel commented on #37
That sounds really reasonable to me! It would simplify the project and let us focus on getting data from the browser. We would also get things like SVG support ([open PR](https://github.com/airbnb/react-sketchapp/pull/204) on react-sketchapp) for free.

We are talking here about generating jsx code? Or is there any intermediate representation? Generating jsx code seems a bit hackish, but not absol

[2017-12-02 21:59] kdzwinel commented on #37
Maybe instead of generating jsx code it'd make sense to generate sth like [TreeNode's](https://github.com/airbnb/react-sketchapp/blob/fe8af15198a0ac3b42f7771fc5573e5801de9429/src/render.js#L34-L35) directly? Generating jsx code only so that react-sketchapp can parse it to get back position/styling information seems wasteful. On the other hand, as I mentioned before, generating react components out

[2017-12-02 22:37] kdzwinel commented on #37
@markdalgleish contributed to both projects, so he may have some useful insight.

@jeroenransijn @KimDal-hyeong I'd also love to hear your thoughts!

[2017-12-02 23:01] markdalgleish commented on #37
Sorry, I haven't actually contributed to react-sketchapp, only this project, so I don't have a clear idea of the overlap between the projects internally.

My first thought is that it might make more sense to figure out a common lower level library that could be shared between html-sketchapp and react-sketchapp. @jongold?

[2017-12-02 23:09] jongold commented on #37
And I haven't had time to check the source of this project 😭 - if there's
any common abstractions we can pull out into new modules I'm 💯% into it.

[2017-12-02 23:13] arahansen commented on #37
I can certainly start investigating what that might look like!

I've briefly looked into the react-sketchapp source before, and am more familiar with the html-sketcchapp source. But I'd love to learn more :)

[2017-12-02 23:17] markdalgleish commented on #37
@kdzwinel lol, sorry, you're right—totally forgot I contributed a couple of minor commits to react-sketchapp:   https://github.com/airbnb/react-sketchapp/commits?author=markdalgleish - not enough to help answer this question properly, though.

[2017-12-02 23:22] arahansen commented on #37
I still think there could be value to consuming react-sketchapp directly, since I believe there is some duplication in how the actual sketch plugin is being built. They seem to me to be doing very similar things: converting json and assets into sketch elements.

@kdzwinel hit on a good point that we are essentially generating react components from html and related styles (which does seem like a us

[2017-12-02 23:26] markdalgleish commented on #37
My biggest concern with this approach is that we'd be reaching into library internals, so it wouldn't be particularly stable, and semantic versioning goes out the window.

[2017-12-02 23:34] arahansen commented on #37
@markdalgleish which internals would we need? I was thinking we would be able to get away with

`import { Text, Img, View, Artboard } from 'react-sketchapp'` etc

I totally concede I could be missing something here, which is why I opened this issue to discuss further :)

[2017-12-02 23:48] markdalgleish commented on #37
Me too :) I might have the wrong idea, but it seemed like what's needed here wasn't part of the public API. Sounds like I might be wrong, though.

[2017-12-04 05:44] LincMitch opened #38 "HTML lists"
Hi,

I tried to convert a webpage with lists (`<ul>`, `<ol>` and `<li>`), but didn't seem to work. Is this a current limitation?

I tried this using React-SketchApp but didn't work either.

If you get it working, it maybe another great reason to support the direction mentioned in #37

Also, if it did/does work, would it also resolve this issue in Sketch:
Bullet lists in Sketch are limited as you c

[2017-12-04 07:27] arahansen commented on #37
For those interested, I've opened a WIP PR that uses react-sketchapp to render to sketch. Here: https://github.com/brainly/html-sketchapp/pull/39

Would love to get some feedback on the direction and hear what you all think

[2017-12-04 11:36] kdzwinel commented on #38
Hey! Thanks for reporting. I didn't know it's not supported, but it does make sense - these little dashes/dots/numbers that appear next to the list items are not real DOM nodes, but rather some form of pseudoelements (see #20). It'd be great to get them working in both html-sketchapp and react-sketchapp.

[2017-12-07 04:23] markdalgleish opened #43 "Plugin fails on Sketch 48"
Just upgraded Sketch, and when I run the plugin on some JSON that previously worked, nothing happens.

Dug into the console and found the following error message:

[code]

[2017-12-07 04:26] markdalgleish commented on #43
Found the Sketch API change: https://github.com/abynim/Sketch-Headers/commit/7e6304f278db6178de39ab55cba183c70db8c814#diff-b97d00bfd9d7ffea3e8aab5a3ec9f0f4L50

[2017-12-07 04:27] markdalgleish commented on #43
Looks like the solution is to provide a document colour space.

[2017-12-07 12:35] KimDal-hyeong commented on #43
The message is that `initWithAttributedString` is `undefined`.

So, I use `initWithEncodedAttributedString` instead.

It works well.

**fixFont.js line 86**
[code]

But I don't know why `initWithAttributedString` is `undefined` ....?

[2017-12-07 12:47] KimDal-hyeong commented on #43
The message is that `initWithAttributedString` is `undefined`.

So, I use `initWithEncodedAttributedString` instead.

It works well.

**fixFont.js 110 line**
[code]

But I don't know why `initWithAttributedString` is `undefined` ....?

[2017-12-07 18:28] markdalgleish commented on #43
If you look at the diff I linked to, it looks like `initWithAttributedString` has been deprecated in Sketch 48.

[2017-12-07 22:13] #43 closed

[2017-12-07 22:15] kdzwinel commented on #43
@KimDal-hyeong you are quick! I love that you also sent a PR to react-sketchapp: https://github.com/airbnb/react-sketchapp/pull/214 ❤️

[2017-12-16 22:59] LincMitch opened #48 "HTML - React-primitives - sketchapp"
As its a struggle to recreate many HTML components in React-primitives, I've been thinking...

Would it be possible to have html-sketchapp render HTML in Sketchapp using React-primitives?
It would be extremely powerful to render HTML to Sketchapp, Web, Native e.t.c

But I guess it wouldn't be called html-sketchapp at that point, rather HTML-React-primitives.

Maybe I missed something and this is t

[2017-12-17 00:45] arahansen commented on #48
This is something we are looking into and would love some help!

There is currently a branch that moves sketch rendering logic to react-sketchapp.

You can find it here: https://github.com/brainly/html-sketchapp/tree/next?files=1

Feel free to take a look. We are currently aiming to add feature parity with the master branch before switching over fully. As it stands the `next` branch is somewhere a

[2017-12-17 00:46] arahansen commented on #48
There's also a related issue tracking this discussion here:
https://github.com/brainly/html-sketchapp/issues/37

[2017-12-17 23:08] LincMitch commented on #48
Cool. I am aware of the work you have been doing and glad to here it extends to React-primitives.

[2017-12-20 23:47] kdzwinel commented on #37
Sorry I didn't manage to look at the `next` yet - too many things were happening at the same time 😵 I hope to charge up over the next week and get back to it.

Have a great holidays everyone !! ❄️

[2018-01-26 19:26] jeroenransijn commented on #37
Chiming in pretty late here. I am all for piggy backing of `react-sketchapp` so we don't have to solve things in two places. What is the progress currently on this?

[2018-02-02 14:19] kdzwinel commented on #48
@LincMitch you are very welcome to help with the next branch! I hoped to do it myself, but I was reassigned temporarily to a different project and now I'm not sure when I'll get time to take it over 😢

Closing as a duplicate

[2018-02-02 14:19] #48 closed

[2018-02-03 00:42] eetom opened #56 "Help with Inject when running html-sketchapp"
Hello, super amazing project, got our team really excited about the potential.
I'm having some trouble running the project, getting stuck on the last step of the example.
I first run

[code]
no problems with that, then on the last step

[code]
I get the result

[code]

Here's the error log

[code]

Looking for help on how to get past the error with Inject.
Thanks!

[2018-02-05 12:06] kdzwinel commented on #56
Hey! You shouldn't use this repository as a tool, it's more of a library. See https://github.com/brainly/html-sketchapp-example and https://github.com/brainly/html-sketchapp-style-guide to understand how it can be used.

[2018-02-05 18:41] eetom commented on #56
Hello, thanks for the response,
I figured it out. Use this repo to build the plugin
and use https://github.com/brainly/html-sketchapp-example
to create the .json file :)

[2018-02-05 18:41] #56 closed

[2018-02-12 14:04] danielguillan opened #58 "Nested symbols"

[2018-02-12 14:04] #58 closed

[2018-02-24 15:49] zmnv opened #59 "system-font, system-ui, -apple-system and ... is «missing fonts»"
Hello.

How about to support font names by CSS4?

It needs because now so many sites uses «System Font» in css `font-family`.
After that `npm run inject <sitename>` returns TRASH in width/height values of text blocks.

Okay, even if you try use "replace font", you don't know where is Regular, Bold or Italic style.. Anyway sad...

by this https://github.com/brainly/html-sketchapp-example.

Maybe is

[2018-02-25 19:32] kdzwinel commented on #59
Hey, thanks for trying sketchapp. As mentioned in the docs, you need to have all fonts installed locally:

Sketch is not a browser and won't download fonts for you. If you don't have appropriate fonts, Sketch will use default ones that don't fit into original containers.

[2018-02-25 19:32] #59 closed

[2018-02-26 02:06] zmnv commented on #59
I have all fonts in my system, which uses web-sites.
Problem in css font name "system-font" which are not exist, it's just an alias to SF Pro.

But html-sketchapp and Sketch doesnt know about System Font and doesnt replace it automaticly.

I'm about it. With other custom fonts its all right.

[code]

[2018-02-26 08:46] HerrBertling commented on #59
You could try to replace the `font-family` in your own setup – I fiddled around a few days ago and had to do the same because we use Fira Sans in our styleguide but it has a different name when used as a webfont for reasons.

Check this: https://github.com/brainly/html-sketchapp-style-guide/blob/master/src/styleguide2asketch.js#L64-L72

Also, you'll probably have to download the fonts manually fro

[2018-02-28 00:32] mxmul opened #60 "publish to NPM?"
Is there a reason that this package [hasn't been published](https://www.npmjs.com/package/html-sketchapp) to the NPM registry?

I'm not currently able to `npm install html-sketchapp`, and projects that depend on this one (like [html-sketchapp-cli](https://github.com/seek-oss/html-sketchapp-cli)) have to install this package directly from Github, which is not ideal.

[2018-03-01 01:26] elliotdickison opened #61 "Simulate interaction states"
Would it be possible to simulate :hover/:active/:focus states when rendering? It seems like many sketch symbol libraries include some combination of these states for interactive components like buttons and inputs (e.g. a default button, a hovered button, and an active button). Right now to do this with html-sketchapp you have to build a way to manually force these states into your component code (

[2018-03-01 09:57] kdzwinel commented on #61
Is it possible to force hover state from JS? If it is, then it might be a good idea to add it to html-sketchapp. If it isn't and it has to be done via [puppeteer](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagehoverselector), I'd leave it to tools like html-sketchapp-cli or custom integrations like html-sketchapp-style-guide.

[2018-03-01 10:25] kdzwinel commented on #60
Hey! Thanks for reporting. Answer is unfortunately quite stupid - my company doesn't have an npm account. BUT I made myself to talk to the scary devops people today, and look at that: ✨https://www.npmjs.com/~brainly ✨I'll publish the package today.

[2018-03-01 11:33] kdzwinel commented on #60
Oh wow, npm for organizations suck. I had to publish it with a "@brainly/" prefix 💩Anyway v1.0 is up: https://www.npmjs.com/package/@brainly/html-sketchapp

[2018-03-01 11:33] #60 closed

[2018-03-01 16:44] elliotdickison commented on #61
Looks like this is in fact a job for puppeteer. I didn't realize the generic nature of html2asketch, I'll consider reopening this discussion on html-sketchapp-cli. Thanks!

[2018-03-01 16:44] #61 closed

[2018-03-02 01:10] kdzwinel commented on #59
Yeah, @HerrBertling is correct here. If name of the font-family used on the page doesn't match local name of the font you just have to replace it just like I did in html-sketchapp-style-guide. Hopefully, html-sketchapp will be smarter in the future when looking for the right font, but right now font-family must match system font name exactly.

[2018-03-02 15:33] HerrBertling commented on #59
I think that wouldn't even work in this specific example – either I'm blind or the macOS system font didn't show up in the Sketch typeface list before I installed it manually. Which is strange, but what can you do… `¯\_(ツ)_/¯ `

[2018-03-02 18:44] kdzwinel commented on #37
I spent some time today working on the 'next' branch. It looks pretty good, but it also looks like we will lose some functionality (e.g. gradients) because react-sketchapp doesn't support them. So that put me off a bit, but I hope that things like SVG support will make up for it.

Anyway, I started experimenting with  replacing intermediate representation ("asketch.json") with something custom tha

[2018-03-02 18:47] jongold commented on #37
This is awesome. Feel free to suggest ways of implementing gradients btw -
we went with the React Primitives API for consistency but maybe it's cool
to break that for certain use cases.

On Mar 2, 2018 10:44 AM, "Konrad Dzwinel" <notifications@github.com> wrote:

[2018-03-05 16:52] kdzwinel commented on #37
Oh, I didn't realize that react primitives are the bottleneck here. Both css and sketch support gradients, so I'd be great for react-sketchapp to also support them. I can look into that when I finish html-sketchapp integration with react-sketchapp. ATM I'd doing a slight detour and creating a helper library that transforms DOM nodes into react primitives - https://github.com/brainly/html-react-pri

[2018-03-07 15:31] ronalson opened #62 "Updating patterns with document.asketch.json and page.asketch.json"
[Question]

What is the proper workflow to iterate over patterns and have changes reflect on Sketch?

I'm using **html-sketchapp-cli** to generate my pattern lib and so far everything is working as expected. My problem is when I updated the code and generate new `document.asketch.json` and `page.asketch.json` files. As I import them, I lose all symbols references within Sketch app. I mean: all sym

[2018-03-07 15:49] ronalson commented on #62
I just found this discussion on [html-sketchapp-cli repo](https://github.com/seek-oss/html-sketchapp-cli/issues/18). It seems to be exactly what I'm looking for.

I'm closing this issue here and I'll follow the thread there.

[2018-03-07 15:49] #62 closed

[2018-03-08 14:41] mlenser opened #64 "Sketch falls out of sync due to ID changes?"
The following object params change every time we generate a new `asketch.json` file:
- `symbolID`
- `do_objectID`

Is there a way to not generate new IDs here? We're looking to maintain a ui-kit that is updated regularly so we need sketch to notice that a symbol has changed, not deleted and added.

[2018-03-08 14:44] HerrBertling commented on #64
Check [this discussion](https://github.com/seek-oss/html-sketchapp-cli/issues/18) at [`html-sketchapp-cli`](https://github.com/seek-oss/html-sketchapp-cli/) :) came up in #62 yesterday as well.

[2018-03-08 14:46] mlenser commented on #64
Great, I'll follow up there!

[2018-03-08 14:46] #64 closed

[2018-03-12 18:07] raadoo opened #66 "SVGs not being imported"
Hi all,

Noticed the latest work done by @kdzwinel @KimDal-hyeong on adding SVG support (huge thanks, guys!) and had a go using the latest code (actually I was doing that _while_ MR #47  was being put forward lol).
However, it's still not working for me. Code below:

[code]

Build & inject go through without errors. Console throws no errors either.

What I end up after importing in Sketch is an em

[2018-03-12 20:10] kdzwinel commented on #66
Hey 👋 I'm working at SVG support *right now* :) I'll try testing your code, but since you asked for ideas…

Maybe `MSSVGImporter.svgImporter` doesn't like that format for some reason?
Are you sure that's 100% valid SVG (I'm not an expert)?
Can you check if there is some alternative syntax?
Try removing that space at the end of `points="… "`?
Getting rid of that `<g>` (as far as I know it's unneces

[2018-03-13 09:58] raadoo commented on #66
@kdzwinel Thanks for the speedy response and the many ideas for how to get this working!

Here's what I did:
1. _Maybe MSSVGImporter.svgImporter doesn't like that format for some reason?_
     Could be, but I have no idea where to start debugging this.
2. _Are you sure that's 100% valid SVG (I'm not an expert)?_
     100% sure the initial SVG is valid.
3. _Can you check if there is some alternativ

[2018-03-13 13:01] kdzwinel commented on #66
Thanks for all the research and debugging! I've tried it myself and had no issues with importing it:
<img width="563" alt="screen shot 2018-03-13 at 13 57 19" src="https://user-images.githubusercontent.com/985504/37342968-7707173e-26c6-11e8-8714-69968b12dda9.png">

So, I suspect you are either:
1. using old version of the Sketch plugin (please make sure you use the one from the #47 branch)
2. you

[2018-03-13 18:52] raadoo commented on #66
@kdzwinel If we ever meet, I will buy you the largest available beverage of your choice! It works! :boom:

For anyone else experiencing issues, turns out that my issues lied not inside of html-sketchapp, but rather in `src/inject.js` and it's sibling `src/page2layers.js`. I was using https://github.com/brainly/html-sketchapp-style-guide as reference for the inject process, but having bothered to l

[2018-03-13 20:46] kdzwinel commented on #66
Happy to help 🍻 Project definitely needs better docs, because I agree that this is confusing stuff. Thanks for a nice write up, I'll be able to reference people here is someone runs into similar issues 👏

[2018-03-13 20:46] #66 closed

[2018-03-13 20:51] kdzwinel commented on #18
NOTE: overflow support got improved a tinny bit - if element has hight or width equal to 0 and overflow set to hidden, none of its children will render.

[2018-03-13 20:52] kdzwinel commented on #4
closed via #47 🎉

[2018-03-13 20:52] #4 closed

[2018-03-13 23:09] kdzwinel opened #68 "SVG inside the Symbol doesn't work"
SVG elements inside symbols don't seem to work. Working on a fix…

[2018-03-14 16:43] #68 closed

[2018-03-14 22:54] #14 closed

[2018-03-15 15:32] kdzwinel opened #72 "Support `<picture>`"
For some reason it doesn't seem to work right now.

[2018-03-16 14:55] #72 closed

[2018-03-19 09:23] kdzwinel commented on #20
## Status
Without `getBoundingClientRect` on a element I don't see how we can implement it (although in devtools it's possible to select a pseudo-element and call `getBoundingClientRect` on it).

## Workaround
Meanwhile @KimDal-hyeong hack that replaces pseudo-elements with spans is the way to go.

[2018-03-19 09:28] kdzwinel commented on #17
## Status
We are looking for someone to implement a solution that translates these CSS properties into appropriate Sketch properties.

## Workaround
Meanwhile @KimDal-hyeong [hack](https://github.com/brainly/html-sketchapp/pull/49) that reads background properties and creates new images on a canvas is the way to go.

[2018-03-19 10:18] kdzwinel opened #77 "Project page"
This project needs a web page to better explain its purpose, provide examples and better docs.

[2018-03-19 10:39] kdzwinel opened #78 "Make nodeToSketchLayers recursive"
`nodeToSketchLayers` should run recursively and generate layers for all descendent nodes. Two reasons:

- that's more intuitive (e.g. #66)
- order in which nodes are processed is important, if we leave it to the user she/he may get subpar results (proper node traversal can be found here - https://github.com/brainly/html-sketchapp/blob/master/test/inject.js#L16 ).

[2018-03-19 13:21] kdzwinel opened #79 "Remove "experimental""
IMO it's pretty stable now 💪(BTW isn't all OSS "experimental" in some way?)

[2018-03-19 20:38] kdzwinel commented on #23
AFAIK placeholder is another pseudoelement, so it's connected with #20

[2018-03-20 10:05] raadoo commented on #78
Agreed that built in recursion is a very good idea.
Curious though about one thing. Ever since #66 I can't seem to get symbols inside of Sketch - only layers. https://github.com/brainly/html-sketchapp-style-guide should probably get an update to its `src/inject` and `src/styleguide2asketch` files as they're wildly different from what's in the other example project - https://github.com/brainly/html

[2018-03-20 10:36] kdzwinel commented on #78
@raadoo I recently updated both repos that you linked and IMO they work fine. They differ because these project do different things: html-sketchapp-example imports websites (which doesn't require symbols, only layers), html-sketchapp-style-guide imports style-guide (which requires symbols, global colors, text styles, etc.). Let me know if something is still unclear!

[2018-03-20 10:43] raadoo commented on #78
@kdzwinel Good shout. I'll give the updates a spin!
Don't mind me, I'm just trying to wrap my head around a lot of new concepts that I haven't had to deal with yet - like working with a headless browser as an intermediary and the spaghetti that is Sketch's JSON structure.
But it's a really exciting project and I'm eager to contribute in any way!

[2018-03-20 20:32] #79 closed

[2018-03-29 06:18] ryanseddon commented on #20
So you *can* get a pseudo-elements client rect in the dev tools but not sure if this can be automated in puppeteer?

When you click on `::before` and then run `$0. getBoundingClientRect()` that returns the position.

![image](https://user-images.githubusercontent.com/143402/38073036-f6239f50-3374-11e8-9318-bd27d7dc719b.png)

[2018-03-29 08:10] kdzwinel commented on #20
@ryanseddon yeah, in DT it's possible through the [DevTools debugging protocol](https://chromedevtools.github.io/devtools-protocol/tot/DOM), but html-asketch currently runs in a browser context, so we don't have access to that. It's possible that we will move generating asketch files to puppeteer in the future (where we have access to the protocol and can do a lot of cool stuff), but I wanted to a

[2018-04-04 06:27] ryanseddon opened #81 "SVG data URI support"
Really happy that SVG support has landed but there's still one way to consume SVG that isn't yet supported in html-sketchapp.

We set SVGs as data URIs like so:

[code]

There's a whole world of complexity here as you can do a lot with a background like change the size, have it repeat, position it etc.

My naive hack to support our use case is as follows:

[code]

The above essentially extracts th

[2018-04-04 21:07] kdzwinel commented on #81
Thanks for sharing, it's a really neat hack! I plan to create a section in wiki with all these little helper scripts that people use to overcome the current limitations of html-sketchapp.

The issue here is related to #17 and yes, it'll be complicated to get it right. I don't have capacity to take a stab at it ATM, but please check out these two other "helper scripts":

- https://github.com/brainl

[2018-04-16 11:28] chrisvxd commented on #78
Hey @kdzwinel,

From a clean API point of view, I prefer option 1 with a new major release:

[code]

Although this is a breaking change in the short term, I think it makes more sense in the long term.

It might be also be worth adding a `nodeToSketchLayersDeep` method on the existing major version, so as to provide the functionality with a minor bump (`2.1.0`).

[2018-04-16 20:41] kdzwinel commented on #78
@chrisvxd thanks for input! I think I also prefer 1 because people tend to assume that `nodeToSketchLayers` is recursive when they first try html-sketchapp. I also like the idea of having `nodeToSketchLayersDeep` in 2.1 👍

@calebdwilliams I just removed `node_modules` folder, reinstalled everything with `npm i` and `npm run watch` seems to be working 🤔All versions of packages are locked (there is

[2018-04-17 14:05] kdzwinel commented on #78
Hey @calebdwilliams! It looks like @TheReincarnator created something that will solve our problem here - [nodeTreeToSketchGroup](https://github.com/brainly/html-sketchapp/pull/83/files). It will be a separate method, but it will be recursive + it will nicely group all layers. I hope to merge it this week. Please let me know if this will also solve your use case!

[2018-04-17 15:02] calebdwilliams commented on #78
@kdzwinel I think it will get most of the way there. I was starting to move in a similar direction, but was getting caught up with other things at work. I think eventually `nodeTreeToSketchGroup` will need to be modified to account for `HTMLElement.prototype.shadowRoot`, which by definition doesn't have a bounding rectangle and doesn't count as a child of an element (though the shadow root does ha

[2018-04-17 15:08] kdzwinel commented on #78
Oh right, I totally forgot about shadowRoot, sorry for that.

Excellent!

[2018-04-18 12:37] kdzwinel opened #84 "Opacity should be applied to all layers"
Currently opacity is only set on the shape-group and not set on text, svg, etc. which is a bug.

While [discussing this](https://github.com/brainly/html-sketchapp/pull/83#discussion_r182401241) we also found out that we don't calculate opacity properly. 'opacity' property is non-cascading in CSS, but it's effect does "cascade" on children (e.g. `<div opacity=.5><div opacity=.5></div>` - inner div

[2018-04-18 13:32] kdzwinel opened #85 "Validate TS files"
Make sure that included TS files match objects they are describing

[2018-04-19 20:55] kdzwinel commented on #78
Fixed by https://github.com/brainly/html-sketchapp/pull/83 🚀 I'll open a separate issue for shadow DOM

[2018-04-19 20:55] #78 closed

[2018-04-19 21:16] kdzwinel opened #86 "Shadow DOM support"
Currently custom elements are not supported (they don't show up in Sketch) because we don't pierce through the Shadow DOM.

[2018-04-19 21:17] kdzwinel commented on #86
@calebdwilliams feel free to take a stab at it 🤘

[2018-04-19 21:22] kdzwinel opened #87 "nodeTreeToSketchPage - some elements end up outside of the artboard"
<img width="568" alt="screen shot 2018-04-19 at 19 23 47" src="https://user-images.githubusercontent.com/985504/39019099-71c8f790-4428-11e8-8cd9-9204bb202460.png">

Screenshot from the `test/test-page.html`

[2018-04-19 21:26] kdzwinel opened #88 "nodeTreeToSketchGroup - traverses SVG creating empty groups"
<img width="651" alt="screen shot 2018-04-19 at 19 22 46" src="https://user-images.githubusercontent.com/985504/39019189-bdc6d6bc-4428-11e8-98df-98efdb420db4.png">

From `test/test-page.html`

Multiple empty groups are created for each SVG child element. Fix:

- don't traverse SVGs
- add additional check in `nodeTreeToSketchGroup` that filters out empty groups

[2018-04-19 21:27] kdzwinel commented on #88
@TheReincarnator 😉

[2018-04-19 21:29] TheReincarnator commented on #87
Maybe I can have a look at it tomorrow, do you have an example how to reproduce? Are the new functions affected only, or did the PR introduce the problem in nodeToSketchLayers as well?

[2018-04-19 23:52] kdzwinel opened #89 "Update docs before 2.1.0 release"
There are new methods and changes in e2e tests - document before releasing 2.1.0

[2018-04-20 00:12] kdzwinel commented on #87
Only new functions AFAIK.
You can reproduce it by running `nodeTreeToSketchPage` over the `document.body` of `test/text-page.html` and importing to Sketch.
Let me know if I can help.

[2018-04-20 00:28] kdzwinel commented on #85
I added tslint, but this doesn't fix the primary goal here - validating type definitions against original JS classes.

[2018-04-20 05:47] TheReincarnator commented on #88
I'd vote for not traversing when nodeName is 'SVG'. The empty-group check is code against own code, I usually avoid this. Or do you see any other situation where the groups can be empty?

[2018-04-20 10:07] kdzwinel commented on #18
This should be now much easier to implement with `nodeTreeToSketchGroup`. There should be a Sketch mask doing overflow on each group with `overflow: hidden`.

[2018-04-23 11:44] kdzwinel commented on #89
Wiki and Readme updated.

[2018-04-23 11:44] #89 closed

[2018-04-25 11:04] kdzwinel opened #94 "nodeToSketchGroup - `flatten` option"
As discussed in https://github.com/chrisvxd/story2sketch/issues/20

### Before

`nodeToSketchGroup(node);`

[code]

### After
`nodeToSketchGroup(node);`

[code]

❓Or should it be group A? Or maybe some new group that contains names of all A, B & C? 🤔

[2018-04-25 18:30] kdzwinel opened #95 "Convert found font names to MacOS font names"
there might be a way to convert font names found in CSS to names used by MacOS because there seems to be a naming convention:

https://github.com/Yelp/salsa/blob/9d947fd8f26a349757df9df8f04ae5aee003d686/file_spec/textStyle.json#L10

[2018-04-26 10:00] kdzwinel commented on #84
It turns out to be a bit more work because we need to add opacity support to SVG and TextStyle objects.

[2018-04-26 11:31] kdzwinel commented on #88
Fixed via #93

[2018-04-26 11:31] #88 closed

[2018-04-27 13:09] kdzwinel opened #96 "CLI tool instead of a plugin?"
[yelp/salsa](https://github.com/Yelp/salsa) folks have a CLI tool that transforms their intermediate format (salsa) to `.sketch`. This removes the requirement of having Sketch installed and (I almost sure) works much faster than import via plugin. W/O Sketch dependency html-sketchapp could work in CI environment (although OSX dependency still makes it hard).

The whole CLI tool wouldn't have to be

[2018-04-27 13:12] kdzwinel commented on #96
The other option is to have `.salsa` format as a target.

[2018-05-01 19:57] calebdwilliams commented on #86
Wondering what these lines were originally intended to solve? https://github.com/brainly/html-sketchapp/blob/master/html2asketch/helpers/visibility.js#L41-L44

This will need to be changed for shadow DOM support as these nodes are necessarily not part of the document.

[2018-05-02 10:12] kdzwinel commented on #86
@calebdwilliams there is an edge case where a node gets removed from the DOM tree while we are traversing it. Our current (dirty) SVG implementation makes it even more probable because it's altering the DOM tree while we are traversing it 😵I don't remember exactly if anything was failing when operating on detached nodes (I suspect something like `getComputedStyles` or `getBoudingBoxRect` could ret

[2018-05-02 15:07] calebdwilliams commented on #86
@kdzwinel I think the only way we could do that is by traversing up the DOM tree to see if the host is a `ShadowRoot` or document fragment and then running the `document.contains(host)` check. That wouldn't be super performant though, so I was wondering if you might be able to shed some light on what was going on there.

[2018-05-03 20:31] calebdwilliams commented on #86
Just an update here, I have this working almost perfectly. The only hang up is that if you have slotted content, it will overflow the parent div. I think this is happening because `slot` doesn't have a bounding rectangle, but I'm not sure just yet.

I'll keep working on this though.

[2018-05-03 21:47] kdzwinel commented on #86
thanks for an update 👍

ATM we don't have support for overflow (https://github.com/brainly/html-sketchapp/issues/18) and I'm afraid that this might be the root of your `slot` issue. It is possible to implement (e.g. by using Sketch masks), but it's definitely outside of the scope of the shadow DOM support task.

[2018-05-07 14:58] calebdwilliams commented on #86
Well, the issue I'm having is where the content of elements will occasionally overflow their containing boxes:
<img width="343" alt="screen shot 2018-05-07 at 9 56 04 am" src="https://user-images.githubusercontent.com/3129393/39708491-fbfa52d0-51dc-11e8-8585-c47872a5055a.png">
Although rerunning the test with only the shadow content returns some unexpected behavior as well. Any ideas here?
<img wi

[2018-05-08 19:07] calebdwilliams commented on #86
That _might_ be it. I’m out of the office today, so I’ll doible check tomorrow morning and get back to you.

[2018-05-09 16:27] calebdwilliams commented on #86
@kdzwinel I think the font issue is part of the problem, but I can't seem to get it to recognize any font I try to use. Any ideas?

[2018-05-09 16:42] calebdwilliams commented on #86
Nevermind, I figured it out. To size shadow DOM fonts properly, it needed to be explicitly sized. Must be something about the styling algorithm between the light DOM and shadow DOM.

[2018-05-09 16:50] calebdwilliams commented on #86
@kdzwinel OK, I'm almost ready to issue a pull request, but what kinds of tests do you want me to write for this? I really didn't add too much, only an algorithm to walk down the shadow root if it exists inside `nodeToSketchLayers.js`

[2018-05-10 20:02] calebdwilliams commented on #86
@kdzwinel Working with my works open source office to submit pull request. I'll submit as soon as I get approval.

[2018-05-11 20:29] christopherscott opened #97 "Text color incorrect in Sketch 50"
Hey guys, thanks for all the awesome work!! I think I found a bug with the text color getting changed to black. I first noticed when I upgraded to Sketch 50 this morning and saw all my buttons now have black text, instead of white. I was able to reproduce the issue pretty easily using the [html-sketchapp-example](https://github.com/brainly/html-sketchapp-example) and pointing to a local server run

[2018-05-11 20:50] calebdwilliams commented on #20
Is this in active development somewhere? From the thread above I'm not sure if the recommended approach is using the `<span>` approach or Puppeteer's  dev tools protocol. What are the current thoughts?

[2018-05-14 00:19] ryanseddon commented on #20
@calebdwilliams definitely the `<span>` approach for now.

[2018-05-14 12:35] kdzwinel commented on #97
Thanks for reporting! If invalid .asketch file is produced it doesn't seem to be related to Sketch or its version, it's something wrong with the html-sketchapp itself. Are you sure that the same .asketch file loaded in Sketch v50 vs v49 produced different results? Can you please share the script that you are running on the create-react-app page to produce .asketch file?

[2018-05-14 12:46] kdzwinel commented on #97
I just tested it by running [`layersJSON(document.body)`](https://github.com/brainly/html-sketchapp/blob/master/e2e/inject.js#L7) on the create-react-app main page, and I can't reproduce the issue:

<img width="852" alt="test" src="https://user-images.githubusercontent.com/985504/39998098-4a0fc8e4-5785-11e8-93e1-6f5ecfcc6b9b.png">

[2018-05-14 17:42] kdzwinel commented on #97
I just tried importing old `.asketch.json` file and you are right - something is off. I'll look into this.

[2018-05-14 19:41] kdzwinel commented on #97
Yep, it looks like it was a change in Sketch 50. Thankfully, guys from react-sketchapp already fixed it, so we can just copy the solution.

https://github.com/airbnb/react-sketchapp/pull/290

I'll include the fix in v3.2.0

[2018-05-16 21:25] kdzwinel opened #99 "Text object is open!"
It looks like text object is now readable! It means that we can generate it with JS, which means  that we may no longer need a Sketch plugin 🕺

[code]

I'm only worried about `glyphBounds` because I don't quite understand what it is, but maybe we can just skip it?

[2018-05-17 15:23] kdzwinel opened #100 "Constraints don't work on Text's"
for LEFT+RIGHT on text we get 47 and we should get, according to Sketch, 42

react-sketchapp implementation:
https://github.com/airbnb/react-sketchapp/blob/09944fee61bcf925527ec36156e44e2af0c8980c/src/jsonUtils/hacksForJSONImpl.js#L52

our implementation:
https://github.com/brainly/html-sketchapp/blob/master/html2asketch/helpers/utils.js#L102

[2018-05-17 22:03] yakunins opened #101 "shadowObj.spread miscalculation"
Sometimes shadowObj.spread has type of string, instead of int. This lead to miscalculation of innerShadow.spread in [line 158 of file nodeToSketchLayers.js](https://github.com/brainly/html-sketchapp/blob/master/html2asketch/nodeToSketchLayers.js#L158):
`shadowObj.spread += parseInt(borderWidth, 10);`

For example:
`shadowObj.spread = "0"; // string, not an number!`
`shadowObj.spread += parseInt("0

[2018-05-17 22:08] kdzwinel commented on #101
Nice catch! Thank you for reporting and providing solution 👏 Do you want to open a PR and became a contributor? 😉

[2018-05-28 10:09] kdzwinel commented on #3
@yakunins are these values different from what we are producing right now? https://github.com/brainly/html-sketchapp/blob/7f83e114e5eebe555ce029fe7c9adbcaf31128bb/html2asketch/helpers/utils.js#L102 If you see any issues let me know!

[2018-06-01 16:29] #100 closed

[2018-06-03 16:37] #101 closed

[2018-06-03 16:38] kdzwinel commented on #101
Your fix will land in 3.2.0 👌

[2018-06-03 16:53] kdzwinel commented on #97
Releasing 3.2.0 noooowww 🎉

[2018-06-03 16:53] #97 closed

[2018-06-13 15:29] kdzwinel opened #113 "Investigate background-image issues"
https://github.com/brainly/html-sketchapp/pull/109 gave us basic support for background-image's and it works great on most pages:

before:
<img width="758" alt="amazon-before" src="https://user-images.githubusercontent.com/985504/41361325-10ec7ce4-6f2f-11e8-8c87-6aa634b7278e.png">

after:
<img width="796" alt="amazon-after" src="https://user-images.githubusercontent.com/985504/41361324-10cab370-6f

[2018-06-13 15:31] kdzwinel commented on #113
@mxmul maybe you'll have some ideas and some spare time to look into it ;) My guess is that `background-size`, that we are not taking into account, is messing things up, but I haven't got time to look into it yet.

[2018-06-13 15:34] kdzwinel commented on #17
Support for background-position landed 🎉 We still need to add support for background-size and background-repeat. Related issue: https://github.com/brainly/html-sketchapp/issues/113

[2018-06-15 09:47] kdzwinel opened #114 "Remove unnecessary groups wrapping imported SVG"
Imported SVG is always wrapped in two levels of groups - we don't need those for anything.

[2018-06-18 09:12] #114 closed

[2018-06-18 14:06] qimmiq commented on #3
have a look at this
https://medium.com/zendesk-engineering/reverse-engineering-sketchs-resizing-functionality-23f6aae2da1a

[2018-06-18 15:42] kdzwinel commented on #3
@qimmiq I've seen it, it's about this project ;) @ryanseddon did a great job implementing that feature (and writing that article 👏).

[2018-06-18 20:52] qimmiq commented on #3
hahaha :D @kdzwinel i'm sorry. a little to excited

[2018-06-21 13:21] monospaced opened #116 "Missing plugin update prompt in Sketch"
Sketch `50.2`, "From *Almost* Sketch to Sketch" `3.0.2`

In Plugins > Manage Plugins… there was no indication to update "From *Almost* Sketch to Sketch", despite `3.2.0` being the current version of the plugin.

This led to a little confusion , as I didn't realise there was a new version of the plugin — other plugins do show an update prompt — but did need to get the latest version for compatibili

[2018-06-21 14:04] kdzwinel commented on #116
Good call, thanks for reporting this! We should probably start embedding html-sketchapp version used in `.asketch.json` output and then check it in the plugin.

[2018-06-21 20:38] hlambert opened #117 "Support icon fonts"
Would be nice if the tool could support icon fonts, like font-awesome and similar.

[2018-06-21 20:43] hlambert opened #118 "Image errors block the tool"
When creating the asketch files, i encountered a bug when the headless browser could not reach the images referenced in the html file. I debugged a bit, and made a few changes to fixImageFill.js. I am not very familiar with Sketch Plugins, so thought I would share my hack here with you, so someone more competent could implement the right solution.

I changed the function fixImageFill to the follow

[2018-06-21 22:56] kdzwinel commented on #117
Thanks for reporting! I haven't tested any icon font specifically, but we do support custom fonts, so icon font should also be supported. Note that you need to have that font locally installed and names have to match (same in CSS as locally). If you happen to test that, please report back! :)

[2018-06-22 06:09] hlambert commented on #117
Just had another look at what the plugin supports. Iconfonts are usually implemented with the :before pseudo class. I understand that this is not yet supported. I believe that is why it doesn't work.

[2018-06-22 08:21] kdzwinel commented on #117
Ah, you are probably right! Good call. Please try the workaround mentioned in the https://github.com/brainly/html-sketchapp/issues/20 (it replaces all pseudoelements with regular ones). Closing in favor of #20

[2018-06-22 08:21] #117 closed

[2018-06-22 08:33] kdzwinel commented on #118
Just to clarify: headless browser is limited by CORS so we are not trying to download images, we just keep URLs and put them into .asketch.json files. Sketch plugin, which is not limited by CORS, downloads them for you when you import an .asketch.json file.

<img width="1276" alt="screen shot 2018-06-22 at 10 24 40" src="https://user-images.githubusercontent.com/985504/41766153-80640776-7606-11e8-

[2018-06-22 09:48] kdzwinel commented on #118
You know what? I'm working on a release now, so I'll go ahead and fix it myself 👍 Thank you again for debugging and reporting it ❤️

[2018-06-22 12:06] kdzwinel commented on #118
Should be fixed by https://github.com/brainly/html-sketchapp/releases/tag/v3.3.0 !

[2018-06-22 12:06] #118 closed

[2018-06-22 12:07] kdzwinel commented on #86
Landed in https://github.com/brainly/html-sketchapp/releases/tag/v3.3.0 !

[2018-06-22 12:07] #86 closed

[2018-06-22 12:07] kdzwinel commented on #13
Landed in https://github.com/brainly/html-sketchapp/releases/tag/v3.3.0 !

[2018-06-22 12:08] kdzwinel commented on #21
Support for multiple boxShadows landed in https://github.com/brainly/html-sketchapp/releases/tag/v3.3.0 !

[2018-06-22 12:09] kdzwinel commented on #18
Now with clipping support in 3.3.0 this should be much easier to achieve

[2018-06-24 16:07] KimDal-hyeong opened #119 "One-side border had 1px blur."
![2018-06-25 12 56 49](https://user-images.githubusercontent.com/16788797/41820826-ac16d85e-7812-11e8-9ca0-b37185b51f68.png)

The default value of `blur` in `addInnerShadow` is `1`.
Therefore, there is a problem that blur is applied.

two solutions.

The first is to add blur: 0.
[code]

Or, if blur's default has no reason. We can change it to 0.
[code]

What do you think about this?

[2018-06-25 10:28] kdzwinel commented on #119
Good catch! I fixed it using your first suggestion:

https://github.com/brainly/html-sketchapp/releases/tag/v3.3.1

However, I have no idea why `blur=1` is the default. We should change it to 0 (for both inner and outer shadow). It will be a breaking change, but IMO current default doesn't make much sense.

[2018-06-26 13:43] KimDal-hyeong opened #120 "can't import background-image"
I can't import a background-image.
Is my environment a problem?

macOS : 10.12.6
sketch : 50.2

**Sketch dev tool message**
![2018-06-26 10 30 26](https://user-images.githubusercontent.com/16788797/41915775-7fb2e1d8-7991-11e8-9b27-dafa5f6491b2.png)

**sketch result**
![2018-06-26 10 36 32](https://user-images.githubusercontent.com/16788797/41915778-80dfc01c-7991-11e8-8abd-d6483ebc5084.png)

**vali

[2018-06-26 13:46] #120 closed

[2018-06-26 14:04] kdzwinel commented on #120
I see you closed the issue, have you resolved it?

[2018-06-29 07:21] kdzwinel opened #121 "Put the plugin back into NPM package"
As suggested by Mark here - https://github.com/seek-oss/html-sketchapp-cli/pull/53#issuecomment-400110738

At first I didn't want to bloat the NPM package, but the plugin is just 60KB, so it's not that bad and by having it in NPM we will avoid Github being single point of failure.

[2018-06-29 07:32] #121 closed

[2018-06-29 09:03] kdzwinel opened #122 "Support background repeat"

[2018-06-29 09:06] kdzwinel commented on #13
Closing as a duplicate of #21

[2018-06-29 09:06] #13 closed

[2018-06-29 09:12] #17 closed

[2018-06-29 09:13] kdzwinel commented on #17
before:
<img width="845" alt="screen shot 2018-06-29 at 09 55 07" src="https://user-images.githubusercontent.com/985504/42084222-5d8bf8d0-7b8d-11e8-9855-3cd0fe867a78.png">

after:
<img width="865" alt="screen shot 2018-06-29 at 11 10 42" src="https://user-images.githubusercontent.com/985504/42084245-68ac6970-7b8d-11e8-84d2-60631ac39dbb.png">

[2018-06-29 09:14] kdzwinel commented on #113
It looks like all these issues were related to lack of background-size support which I fixed: https://github.com/brainly/html-sketchapp/issues/17

[2018-06-29 09:14] #113 closed

[2018-06-29 09:30] kdzwinel opened #123 "Support for mixed text"
Currently this:
<img width="627" alt="screen shot 2018-06-29 at 11 29 23" src="https://user-images.githubusercontent.com/985504/42085082-b9c171fa-7b8f-11e8-8fef-d199b014c9e5.png">
Will render like this:
<img width="647" alt="screen shot 2018-06-29 at 11 29 29" src="https://user-images.githubusercontent.com/985504/42085096-c273d19e-7b8f-11e8-8c4c-5de0d89166d2.png">

😵

We support `<p>Bla bla</p>` j

[2018-06-29 10:34] kdzwinel commented on #123
Turns out inside single text block there can be multiple styles. We should migrate to that
<img width="287" alt="screen shot 2018-06-29 at 12 33 05" src="https://user-images.githubusercontent.com/985504/42088072-a328ce08-7b98-11e8-9547-024021fc496e.png">
(top text shows current approach)
(bottom text show new approach)

[2018-06-29 15:52] KimDal-hyeong commented on #123
I add this data in `text layer` of `asketch.json`,

[code]

and, change `fixTextLayer` in `fixFont.js` to this code.

[code]

Its result is this.
![2018-06-30 12 49 22](https://user-images.githubusercontent.com/16788797/42101890-7543d26e-7bff-11e8-9c31-8be65e053803.png)

[2018-06-29 16:09] kdzwinel commented on #123
@KimDal-hyeong oh wow, that's super useful! Thank you 🙇‍♂️

[2018-07-05 23:12] kdzwinel commented on #99
most of the heavy lifting was alrady done in https://github.com/airbnb/react-sketchapp/pull/359 we need to migrate this over

[2018-07-11 11:34] jholt1 opened #125 "Custom elements not working as expected"
I can see from https://github.com/brainly/html-sketchapp/issues/86 that now custom elements and the shadow dom are now supported.

Using https://github.com/brainly/html-sketchapp-example and updating the packages to:

[code]
Running this script:
[code]

The output in sketch comes up empty. Is there something I am missing? Thanks!

[2018-07-11 12:02] kdzwinel commented on #125
Oh yeah, sorry for confusion but this example uses `nodeToSketchLayers ` (https://github.com/brainly/html-sketchapp-example/blob/master/src/page2layers.js#L22) - that's the only method not supporting web components.`nodeTreeToSketchGroup` and `nodeTreeToSketchPage ` should work.

Try modifying `run()` method so it only does this:

[code]

[2018-07-11 15:08] jholt1 commented on #125
Thanks @kdzwinel for the quick response! Switching `run()` worked.

Would you mind me creating a PR to switch to this? Or are there additional reasons to keep it as it is (https://github.com/brainly/html-sketchapp-example/blob/master/src/page2layers.js#L22)

[2018-07-12 08:52] kdzwinel commented on #125
Hm… since we are trying to show off html-sketchapp possibilities in that project it makes sense to have simpler code and better feature coverage there, so yeah, go for it 🙌 PR will be very appreciated. Can you ping @burakukula to review and merge it? I don't have access to that repo ATM.

[2018-07-12 08:52] #125 closed

[2018-07-12 09:31] kdzwinel opened #126 "[API Change] Symbol instance should inherit size of a master symbol by default"
ATM creating symbol instance requires to provide width and height.

[2018-07-12 09:50] kdzwinel opened #127 "Replace our CSS parsers with an external parser"
Background: We are doing a bit too much work than we should by writing our own parsers for css property values (e.g. gradient, shadow, background).

Task: Research css parsers (e.g. https://github.com/reworkcss/css ), and replace our parsers.

[2018-07-12 10:03] kdzwinel opened #128 "Move examples to glitch 🎏"
Lets make [examples](https://github.com/brainly/html-sketchapp/wiki/Usage-Examples ) more fun to play with and move them to https://glitch.com/

[2018-07-12 11:22] kdzwinel commented on #128
First one is up - https://codepen.io/kdzwinel/project/editor/AwzQqy

❤️codepen

[2018-07-15 21:29] kdzwinel commented on #126
Fixed by https://github.com/brainly/html-sketchapp/commit/58ca8aff5a52efbce26494b047fe3a25f3726baa

[2018-07-15 21:29] #126 closed

[2018-07-15 22:29] kdzwinel commented on #123
It looks like we are using "text" objects with "style" property describing the "text style". However, that style is only a baseline style. "text" objects have "attributedString"s that consist of:
- string e.g. "example text"
- and multiple "attributes" that describe range (e.g. "location": 0, "length": 7) and font/color/size/etc (similar to "text style").

This way one "text" object can describe a

[2018-07-20 07:42] phun-ky commented on #99
+1 +1

I am pulling my hair now trying to use sketch, the asketch to sketch plugin on macos in virtuabox in windows, I think just using JS would leave my hair intact!

[2018-07-26 12:56] phun-ky opened #129 "html-sketchapp fails on opening in sketch"
When opening my latest `*.asketch.json`-files via the sketch plugin, sketch just shows a blank page with nothing added. I suspect that the `page.asketch.json` is to big, it's about 2.9 megabytes (144987 lines)..

I am using `html-sketchapp-cli` to generate these files from my original styleguide, is there a way to get this to work without just creating a barebone styleguide page for scraping?

[2018-07-26 13:05] kdzwinel commented on #129
Hey! I can take a look what's happening, but can you scope the issue down a bit, so we don't have to deal with a 3MB file? E.g. remove some stuff from your styleguide export page, generate new .asketch file and see if it still doesn't work. I don't think that the file size is the issue here, something could have been exported incorrectly causing plugin to fail.

Also:
- please let me know what ver

[2018-07-26 13:36] phun-ky commented on #129
I've narrowed it down to this code:

html: https://gist.github.com/phun-ky/73ed0b6890f87ded072c82b297f3478f
`document.asketch.json`: https://gist.github.com/phun-ky/87957595412bc299869e4343addef881
`page.asketch.json`: https://gist.github.com/phun-ky/67e1ec6137c5fd83289f129625c4efe0

sketch version 51.1 (highest version I can with the os on the mac that I am borrowing for this purpose)
`html-sketc

[2018-07-26 20:38] kdzwinel commented on #129
51.1 is the highest version available 👍

I just tested and I'm getting this:

<img width="892" alt="screen shot 2018-07-26 at 22 35 01" src="https://user-images.githubusercontent.com/985504/43287065-2acf4d1e-9124-11e8-847b-433c2596279a.png">

Red color indicates image that couldn't be loaded. This makes sense because this is a local image:

[code]

So what is probably happening is that this URL 40

[2018-07-27 10:11] kdzwinel commented on #129
Also, please test using the latest html-sketchapp Sketch plugin (just released couple of hours ago)

[2018-07-27 12:38] phun-ky commented on #129
@kdzwinel The code I gave you is just the raw code. `html-sketchapp-cli` is used against a web server. Will try to inline the svg sprites with base64

[2018-07-28 10:17] alexander-schranz opened #130 "Import into sketch does replace whole document"
If I import the asketch.json file all exist sketch elements in the document are replaced.

Currently workaround is copy exist sketch elements into the clipboard before import asketch.json file.

PS: this tool is just awesome 👍

[2018-07-30 09:38] kdzwinel commented on #129
Let me know how it went! Really curios to figure out if this is a bug.

[2018-07-30 09:40] kdzwinel commented on #130
Hey! Thank you for using html-sketchapp and getting back with feedback ❤️

As far as I remember our plugin overrides currently open page (when importing an asketch page) and current document (when importing an asketch document). Try crating a new empty page before using the plugin and only this page will be overwritten. Let me know if that helps!

[2018-07-30 09:58] alexander-schranz commented on #130
@kdzwinel the workaround with the page is better but still I would prefer that the exist elements of the page would be kept there. Example usage: You are designing a new form and import the button from the html-sketchapp and then import some input, selects with labels and then it happens often that you forgot to create a new page before importing. As current workaround maybe the plugin could creat

[2018-07-30 10:10] phun-ky commented on #129
Turned out it was a bigger hazzle converting the generated icon sprites to base64 (and the larger css files..) so I created a script that reads all icons and generate documentation files just based on those icons that exist. Earlier versions I had to manually add the icons by their classnames and markup.

So the styleguide that `html-skecthapp` scrapes are now using inline svg elements for the ico

[2018-07-30 10:10] #129 closed

[2018-07-30 10:17] kdzwinel commented on #130
Thank you for describing your workflow, that's very useful. Your workflow is different from how I saw html-sketchapp being used - import style guide components as symbols and use that as a UI Library in sketch. Your way is of course completely valid and we should adjust the plugin, so that it works for both workflows. I think @markdalgleish is now using mix of both approaches (and that's why he cr

[2018-07-30 10:22] kdzwinel commented on #129
Hm… I'm not sure I fully understand - it seems that you switched from a SVG sprite to inline SVG icons, correct? SVG sprite should have worked AFAIK, if it didn't work for you I'll make sure to investigate it.

[2018-07-30 11:33] alexander-schranz commented on #20
@KimDal-hyeong thank you for your script. Ineeded to modify your script with the following changes to get it work for me:

[code]

[code]

[code]

maybe you can update it with this changes to make it others easier to use it.

[2018-07-30 12:01] phun-ky commented on #129
It might have worked. but the styleguide I am creating is not in a public domain, so the references would be borked..

[2018-07-30 12:31] alexander-schranz commented on #130
@kdzwinel Would go for 1 or 2 because of the `Paste` feature.

[2018-08-21 13:11] achuthhadnoor commented on #4
can we export selected artboard to svg in javascript?

[2018-08-22 16:25] janakg opened #131 "Can't find variable: require - sketch/ui"
Hi, Looks like a build issue. Can you please let me know if I am doing something wrong?

ReferenceError: Can't find variable: require
line: 1264
sourceURL: /Volumes/macDrive/Users/janakg/Library/Application Support/com.bohemiancoding.sketch3/Plugins/asketch2sketch.sketchplugin/Contents/Sketch/importFiles.js
column: 25

[2018-08-22 16:34] kdzwinel commented on #131
Hey! I'm not quite sure what you are doing. Are you trying to build the plugin yourself? If so, I just pulled the latest master, run `npm i && npm run build` and it worked just fine. I'm running node 8.9.0.

[2018-08-22 16:42] janakg commented on #131
Thanks for the quick response. I tried both methods, I downloaded the built file and also tried building.

I have downloaded from the releases link:
https://github.com/brainly/html-sketchapp/releases/download/v4.0.0/asketch2sketch-4-0-0.sketchplugin.zip

I am getting is error on the file importFiles.js at line no: 1264
1264: module.exports = require("sketch/ui");

I'm trying on Sketch 48.2.

[2018-08-22 16:52] kdzwinel commented on #131
Oh, so you have trouble running the plugin? Version 48 is quite old, this might be the issue. I just double checked https://github.com/brainly/html-sketchapp/releases/download/v4.0.0/asketch2sketch-4-0-0.sketchplugin.zip and it works just fine on latest Sketch (51.2). You can try loading older plugin (also available in the releases section), but it will miss some features and fixes.

[2018-08-22 18:45] janakg commented on #131
Thanks for the help. I have updated the sketch and tested. it is working.

[2018-08-22 18:45] #131 closed

[2018-08-22 18:52] kdzwinel commented on #131
Glad to hear that, enjoy!

[2018-08-25 00:41] mattfelten commented on #20
I got some code working right now based on the `:before` / `:after` but adding `value` and `placeholder` attributes. It took a bit of hackery so tweak to your own pleasure.

[code]

`getComputedStyle` doesn't seem to work with placeholder elements. I tried all the combinations of vendor prefixes and spec that I could think of, but they didn't work, so I'm actually faking the placeholder style with

[2018-08-25 00:44] mattfelten opened #132 "Locking element in Sketch"
I'm generating a component that has a line of text that I don't want to be editable in Sketch. If I were making the symbol manually, locking the layer will prevent it from being editable from the Overrides panel.

Is there a way to set that that through html-sketchapp? I haven't found a solution in the docs or other Issues.

[2018-08-27 07:35] kdzwinel commented on #132
Hey! Thanks for using html-sketchapp. You should be able to manipulate the JSON output from html-sketchapp directly to change the 'isLocked' flag on the object: https://github.com/brainly/html-sketchapp/blob/516008f879c62a588035854bb625838d72e3975c/e2e/expected/nodeToSketchLayers/text.html.asketch.json#L35 . You are also very welcome to add this feature to html-sketchapp, I'll be happy to merge it

[2018-09-05 12:33] jholt1 opened #133 "slot text in outside layer"
# What is the issue

For web components the slot doesn't sit inside the `slot` layer but sits outside in the component folder.

![screen shot 2018-09-05 at 10 09 53](https://user-images.githubusercontent.com/7101754/45083797-98fc9900-b0f4-11e8-93b5-616976c2661a.png)

From the image you can see that the text is inside the `ui-button` layer at the bottom rather than nested inside the `button` layer.

[2018-09-11 09:33] phun-ky opened #134 "Clarification, where does `data-sketch-colors` appear in Sketch?"
Tried to ask this in the `html-sketchapp-cli`-repo, but no luck yet. Maybe you can answer this for me:

With this code:

    <div class="gb-row" data-sketch-symbol="Colors/Main">
      <div class="gb-col-12--xs">
        <div class="rlx-palette">
          ...
          <div class="rlx-palette-itemHolder">
            <strong class="rlx-palette-itemText">Crème brûlée, <em>#FFE49C</em></strong>

[2018-09-20 10:11] phun-ky opened #135 "Symbols in sketch file are missing constraints"
When using a symbol from the sketch-file it should be possible to change the size of it without it getting distorted.

![45805912-0d703400-bcc0-11e8-99b7-eb5f59a0e061](https://user-images.githubusercontent.com/1714029/45811834-78c10280-bcce-11e8-8497-9fad00747627.gif)

[2018-10-03 17:42] tettoffensive commented on #86
@kdzwinel I'm using the CLI v 0.6.2 on a locally served website with polymer which utilizes the shadow dom. I'm not seeing anything when I import the files into sketch v52 (though it says import successful).

I'm assuming it's because of the shadow dom? Unless you have any other suggestions?

Thanks.

[2018-10-04 19:14] calebdwilliams commented on #86
@tettoffensive, what version of html-sketch app is the CLI using?

[2018-10-04 19:19] tettoffensive commented on #86
I an not sure. Is there a way to check? I’m not at a computer right now.

On Thu, Oct 4, 2018 at 12:14 PM Caleb Williams <notifications@github.com>
wrote:

[2018-10-09 08:33] kdzwinel commented on #134
Hey! Sorry for a late response. This is more of a html-sketchapp-cli question, but the colors should appear under 'global colors' as shown in this gif: https://github.com/brainly/html-sketchapp-style-guide

[2018-10-09 08:33] #134 closed

[2018-10-09 08:36] kdzwinel commented on #133
Thanks for reporting! Brainly doesn't use web components, so we won't be able to prioritize it anytime soon, but feel free to open a PR, we will be happy to help getting it merged.

[2018-10-09 08:37] kdzwinel commented on #135
As far as I remember you can do that. @burakukula do you remember how we fixed that?

[2018-10-18 19:00] studioab opened #137 "after updating Sketch to v52+ it doesn't handle SVG"
I tried the same asketch file in 51.3, it works fine.

in 52+ it throws an error on Line 713. svgLayer.layers is not a function

Any ideas how to fix it?

[2018-10-19 11:09] burakukula commented on #135
We actually set constraints for some elements in html-sketchapp-style-guide.

[2018-10-19 11:15] burakukula commented on #135
Hey! @phun-ky @kdzwinel Sorry, by mistake I closed the issue.
Well, we actually set constraints for certain components in html-sketchapp-style-guide. We used `setResizingConstraint();` to control them.

[2018-10-19 11:29] burakukula commented on #137
@studioab thank's a lot for using html-sketchapp and reporting the issue!
I will have a look and come back to you as soon as I can.

[2018-10-22 07:54] phun-ky commented on #135
Hm, I really don't know. I am using this through `html-sketchapp-cli`, so maybe this should be an option or some defaults, like, if it's a `div`, set constraints, but if its an `img` or `svg`, don't set it. Thoughts @markdalgleish ?

[2018-10-23 04:05] loliver opened #140 "Files not being imported: v52.2"
Hi all,

Love the library you've put together, have been meaning to put something together for our design system for ages since seeing @markdalgleish present his work at a few meetups and conferences.

I'm still working on getting our exports together and it seems an update to Sketch yesterday to 52.2 has stopped the import from files functionality from working. I just sense checked this with one

[2018-10-23 14:25] yakunins opened #142 "Shadow-dom tests are not passing after fresh "git init .../html-sketchapp""
![image](https://user-images.githubusercontent.com/2505676/47367427-16a65380-d6f9-11e8-9e4f-8deab644486a.png)

Looks like headless Chrome problem... don't know exactly. Any ideas?

I have to use `npm run e2e-fix` as a workaround.

[2018-10-23 15:41] burakukula commented on #142
Hello @yakunins ! Thx a lot for reporting the issue. 🙇‍♀️
I will have a closer look at that and let you know as soon as I can.

[2018-10-23 19:22] yakunins commented on #142
I will run tests on another computer to see how it goes with other environment...

[2018-10-24 07:16] yakunins commented on #142
Tested on OS X, everything is OK. Seems to be something wrong with my environment.

[2018-10-24 10:37] kdzwinel commented on #142
The issue in puppeteer - it behaves differently on windows vs macos - it returns slightly different values. Sorry for that, but there is no easy way of fixing it. If you'll have any ideas let us know!

[2018-10-24 10:37] #142 closed

[2018-10-24 10:44] burakukula commented on #137
@studioab we released version v4.0.1 that should fix your issues. please give it a try, if anything else comes up let us know.
Cheers 🚀

[2018-10-24 10:44] #137 closed

[2018-10-24 10:46] burakukula commented on #140
@loliver We released version v4.0.1, it should fix your problems. if you have any other issues, please let us know. 🙂
Cheers

[2018-10-24 10:46] #140 closed

[2018-10-25 06:47] yakunins commented on #142
@kdzwinel Later I switched to latest Node (8→10) and NPM (5→6). This helps a lot. Tests are passing well.

[2018-11-03 10:59] LincMitch opened #144 "Background image position"
I'm using HTML-Sketchapp CLI and have this strange bug, where all images are consistently offset by almost 50px.

![image](https://user-images.githubusercontent.com/31395111/47951292-c9589a80-dfb2-11e8-9f32-3f01b61b94e2.png)

I'm using CSS background image.

Has anyone seen this before, or can provide any clues?
Is this aa HTML-Sketchapp or HTML-Sketchapp CLI issue?

[2018-11-05 21:14] kdzwinel commented on #144
Hey 👋Thanks for reporting! This is not a known bug and we will need a bit more of your help to confirm it:

1. Which version of html-sketchapp-cli are you using? (we have to figure out which html-sketchapp version we are talking about here)
2. Can you provide HTML/CSS code for a minimal example that breaks? (we have to reproduce the bug to confirm, triage and fix it)

[2018-11-05 21:39] kdzwinel commented on #135
html-sketchapp doesn't yet translate "responsiveness" of elements from HTML. It's doable, but it's a lot of work. By default we don't set any constraints on elements making them stretchable in every direction. We offer API to set those constraints programmatically, but you have to call the API yourself. I see one quick win though - maybe if we can see that element's width/height have a fixed value

[2018-11-10 16:44] beatscode opened #145 "Trying to render native html elements"
**html-sketchapp version:**
4.0.1

**minimal example:**
https://gist.github.com/beatscode/ef086b57cc8cda9a81d8dc02f71c4777
**screenshot from the browser:**
https://user-images.githubusercontent.com/1777648/48267519-907c5380-e400-11e8-8fef-edf7fc69c3fb.png
**screenshot from Sketch:**
https://user-images.githubusercontent.com/1777648/48265279-1cd74800-e3fa-11e8-8ca8-59651a4563b4.png

I tried posting

[2018-11-11 20:18] jholt1 commented on #133
@kdzwinel I have raised a PR https://github.com/brainly/html-sketchapp/pull/146

[2018-11-12 22:54] kdzwinel commented on #145
Hey Alex! Thank you for reporting. It looks like default browser styles are not working for some reason. I suspect this is related to #20, but we need to investigate further. Styling those elements should fix the issue for now (e.g. you can try using something like https://purecss.io/start/ which doesn't require you to add any css classes to those elements).

[2018-11-12 23:09] beatscode commented on #145
Thanks I'll try that.

[2018-11-12 23:14] kdzwinel commented on #145
Awesome 👍Let's leave that task open, I'd like us to figure out why this is happening in the first place.

[2018-11-14 03:31] loliver opened #147 "Weird text wrapping inside button"
**html-sketchapp version:** 4.0.1

**minimal example:**
[code]

**screenshot from the browser:**
<img width="216" alt="screen shot 2018-11-14 at 2 22 40 pm" src="https://user-images.githubusercontent.com/3507971/48458100-045f9700-e819-11e8-860d-398200735839.png">

**screenshot from Sketch:**
<img width="509" alt="screen shot 2018-11-14 at 2 20 20 pm" src="https://user-images.githubusercontent.com/

[2018-11-14 09:33] kdzwinel commented on #147
Hey Olivier! Text wraps unexpectedly because the font is different (one that Sketch uses is wider). You either:
- don't have the font that you are using on the web installed locally or,
- it's called differently on the web and on your local machine.

Let us know if you have any other questions!

[2018-11-14 14:19] loliver commented on #147
Ahh great! Will try remedy that tomorrow and see how it goes.

[2018-11-15 05:45] loliver commented on #147
Thanks for that, works perfectly, can't believe I didn't notice the different font.

[2018-11-15 05:45] #147 closed

[2018-11-15 22:41] madysondesigns opened #148 "Support for layer styles"
**Feature description**

Unfortunately, document colors that html-sketchapp generates are not shared when using a sketch file as a library. (The only things that libraries provide are symbols, text styles, and layer styles)

It would be cool to have a generator for layer styles similar to how text styles are implemented.

E.g. our style guide specifies that a card has a light grey background, a da

[2018-11-18 06:55] hipstersmoothie commented on #20
@KimDal-hyeong @alexander-schranz where exactly should i put that code?

[2018-11-19 21:49] hipstersmoothie opened #149 "Font-family no cascading"
I have custom font I am using in my components. When i set the font family on the elements class The font gets applied sucessfully. If I set it on a wrapper element, the style don't cascade, if i set it on the body it does

[2018-11-20 09:33] kdzwinel commented on #148
Hey Sarah! Thank you so much for reporting, I'm putting it under feature requests. If you, or anyone else, is interested in implementing this feature, we will be happy to help with advice and code review.

[2018-11-20 09:36] kdzwinel commented on #149
Hey! Thanks for reporting. Please use [bug template](https://github.com/brainly/html-sketchapp/issues/new?template=html-is-not-imported-correctly-to-sketch.md) next time, it helps us help you.

- please let us know what version of html-sketchapp you are using
- please provide example HTML that's causing a problem
- please provide a screenshot of how it looks in HTML and how it looks in Sketch
- ma

[2018-11-21 16:50] yakunins opened #150 "Support of inner Sketch features via data-sketch-{feature} attribute"
Similar to issue [Using specific data attributes for Sketch](https://github.com/brainly/html-sketchapp/issues/9).

**Feature description**
Make some inner Sketch features avaliable in the way like this: `<div data-sketch-locked>This group is locked in Sketch</div>`

We have already implemented some attributes here → [handleSymbolAttributes.js @servicetitan/html-sketchapp/st-dev](https://github.com

[2018-11-21 17:34] yakunins commented on #94
An attempt o make ungrouping layers with `data-sketch-ungroup` attribute:
1. in nodeTreeToSketchGroup.js see [line 24](https://github.com/servicetitan/html-sketchapp/blob/st-dev/html2asketch/nodeTreeToSketchGroup.js#L24) and [line 41](https://github.com/servicetitan/html-sketchapp/blob/st-dev/html2asketch/nodeTreeToSketchGroup.js#L41)
2. ungroup detection function in /helpers/symbolAttributes/util

[2018-11-21 17:43] yakunins commented on #132
Added support of locked layers with `data-sketch-locked` attribute...

Please see [line 4 of .../html2asketch/helpers/symbolAttributes/locked.js](https://github.com/servicetitan/html-sketchapp/blob/st-dev/html2asketch/helpers/symbolAttributes/locked.js#L4)

[2018-11-22 08:59] kdzwinel commented on #132
Thanks @yakunins! Your approach is very similar to html-sketchapp-cli as you depend on additional hints in HTML (e.g. "data-sketch-locked"). Html-sketchapp doesn't do it - we try to convert HTML/CSS to Sketch without any hints. We should provide an API for setting "locked" state on layer/object though, and once it's implemented other projects can use it e.g. by translating "data-sketch-locked" htm

[2018-11-22 09:54] kdzwinel commented on #150
Hey @yakunins ! As explained in https://github.com/brainly/html-sketchapp/issues/9#issuecomment-343697707 and https://github.com/brainly/html-sketchapp/issues/132#issuecomment-440958511 we currently don't plan to add any HTML hints. This is something that html-sketchapp-cli project is doing (which builds on the top of html-sketchapp). We want to keep html-sketchapp generic so that it can be used i

[2018-11-22 09:54] #150 closed

[2018-11-29 09:52] phun-ky opened #152 "Error: Evaluation failed: ReferenceError: Buffer is not defined"
When running `html-sketchapp --config ./config/html-sketchapp.config.js`, I now get this error:

[code]

It worked before, but I can't remember if I've changed anything.

npm v6.4.1
node v8.11.1
html-sketchapp-cli v0.6.2

This is not an direct issue with `html-sketchapp-cli` I think, the error points to:

[code]

in `helpers/utils.js`: https://github.com/brainly/html-sketchapp/blob/master/html2ask

[2018-11-29 12:07] phun-ky commented on #96
Pro tip, Azure devops offers OSX as build OS now ;) could solve the OSX dependency for some in the future when generating sketch libs (without the almost sketch part..)

[2018-11-30 08:50] phun-ky commented on #152
Just tested it in normal Ubuntu 16.04 (laptop), and works like a charm. Looks like WSL is the culprit here.

Btw, will this work on git bash/windows cmd?

[2018-11-30 08:53] kdzwinel commented on #152
@phun-ky thank you for such a thorough investigation! I can't help with testing because I don't have access to Windows, but it does sound like a puppeteer + WSL issue indeed. If you happen to report it in the puppeteer repo, please reference the bug report here for others to see. Thank you!

[2018-11-30 08:56] phun-ky commented on #152
It seems like `html-sketchapp` throws error, assuming that stuff is ready for the Buffer(?), since headless chrome can't be loaded in `html-sketchapp-cli` ? Just tossing ideas here..

There is a suggested fix here: https://github.com/GoogleChrome/puppeteer/issues/1837#issuecomment-405047723 that might work for `html-sketchapp-cli` @markdalgleish

[2018-12-01 20:16] hipstersmoothie opened #153 "Warning when installing with yarn"
When i use `html-sketchapp` with yarn I get the following warning:

[code]

Is there a way to make this valid? Is this the correct place for the sketch version? I don't think this can get checked in any meaningful way.

[2018-12-03 08:34] phun-ky commented on #152
I think @markdalgleish needs to weigh in here.

Regarding non-base64'ed `data:` links, I need the icons to be background-images like this:

[code]

And we use a lot of icons, so switching to base64'ed background images are not an option for us

[2018-12-03 09:42] kdzwinel commented on #152
There is nothing for Mark to fix here :) It's a bug in html-sketchapp, I just don't have time to fix it RN, but in the nutshell:

1. We are using `Buffer` to convert non-base64ed text to base64ed text.
2. Buffer is nodeJS API, we should use `btoa` instead
3. That's the code that needs to be modified: https://github.com/brainly/html-sketchapp/blob/1557532f850d7575683d3b19e074889f05490a0b/html2asket

[2018-12-14 17:13] mathieudutour opened #154 "[Sketch 53] Document's colors format"
Hello :wave:

Just wanted to give you a heads up that the format for document colors will change in Sketch 53. There will be a beta soon-ish.

Hopefully the feature the change was made for will make up for the inconvenience :) I'll add more details as soon as we stabilize the API for the beta.

[2018-12-17 11:39] michalsnik commented on #149
I tried to reproduce this problem, fortunately it works for me.

What got to my mind however is that perhaps you expect button to inherit the font from body @hipstersmoothie . If you inspect code in firefox for example and have a font-family set on body, but not on a button, here's what you'll see:
![image](https://user-images.githubusercontent.com/4093559/50084587-c8449b00-01f7-11e9-9099-ad4fe2db

[2018-12-19 13:39] mathieudutour commented on #154
There it is: https://www.sketchapp.com/beta/ :tada:

So now you have `document.assets().colorAssets()` which is an array of `MSColorAsset` which itself has a `color` and `name` properties.

You might also need the following methods (all on the `document.assets()` object):
- Add a document color: `- (void)addAsset:(nonnull id<MSAsset>)asset withName:(nullable NSString *)name;`
- you can only update

[2018-12-21 12:55] phun-ky opened #157 "Question: Can a macos build pipeline create sketch library?"
Using macos as an agent pool allows for native building of files. So could this be an option to generate sketchapp-libraries?

[2019-01-18 03:09] loliver commented on #144
I'm getting a similar issue.

`html-sketchapp-cli`: `0.6.2`
`html-sketchapp`: `4.1.0`

### Screenshot from Sketch:
<img width="954" alt="screen shot 2019-01-18 at 1 19 26 pm" src="https://user-images.githubusercontent.com/3507971/51361498-24b31700-1b24-11e9-9c60-06f8961abfc6.png">

### Output html/css from React and Styled Components:
[code]

Apologies for the length of the output, let me know if

[2019-01-24 18:19] meuwka commented on #123
Hi! Any plans to fix that?

Looks pretty bad
<img width="1044" alt="screenshot 2019-01-24 at 17 32 10" src="https://user-images.githubusercontent.com/2752193/51699293-491b6180-2004-11e9-9660-030a583f714c.png">

[2019-02-03 01:16] TerribleDev opened #159 "issue with multiple pages"
HI, Our styleguide is a custom written piece of software. We have components across multiple pages. So I wrote a script that grabs symbols from each page, and I end up with a bunch of `<page>.asketch.json` files, but when I try to glob import them with the plugin it seems like only a random one of the selected files are imported. Each individual file seems to import fine on its own.

is there a wa

[2019-02-14 03:25] #159 closed

[2019-02-15 15:00] TerribleDev opened #160 "assets.removeAllColors is not a function"
Hi I updated sketch recently, and the plugin stopped importing color information.

`TypeError: assets.removeAllColors is not a function. (In 'assets.removeAllColors()', 'assets.removeAllColors' is undefined)`

I'm on `53.1`

[2019-02-18 19:58] burakukula commented on #160
@TerribleDev thank you so much for reporting! I will push a new version of the plugin with fix asap and let you know. 🙇‍♀️

[2019-02-19 01:27] TerribleDev opened #162 "Just a huge thank you"
I work at cargurus. We have a styleguide in html + css. On my 20% time I decided to use this and some custom puppeteer code to pull in all of our components as sketch symbols. Sat in a meeting last Thursday and just had a big reveal to some of the design staff, out of nowhere. They were not expecting it, and they were all beyond thrilled.

I'm working on a blog post about my journey with this stuf

[2019-02-19 05:52] #132 closed

[2019-02-20 18:17] #160 closed

[2019-02-21 20:31] aaronshekey opened #163 "Sketch 53 doesn’t import"
Howdy! Looks like the workflow's broken in Sketch 53 and beyond. I was able to downgrade sketch to 52 and things work as expected with no further changes. Known issue?

**html-sketchapp version:** 4.1

:v:

[2019-02-22 13:36] burakukula commented on #163
@aaronshekey 👋thx for reporting, yeah we are aware of the issue. I am working on the new version and I will push it as soon as I can. I'll let you know as soon as it's ready to use.

[2019-02-23 00:02] aaronshekey commented on #163
No worries at all. It was pretty confusing, this being the first time I went through the workflow. I'm glad I thought to downgrade, since I thought for sure I'd screwed something up on the config side. 😛

[2019-03-02 07:19] #163 closed

[2019-03-02 07:40] burakukula commented on #163
Hey @aaronshekey I just pushed a new version, I hope it solve problems with Sketch v53. 👋

[2019-03-02 07:41] burakukula commented on #154
Hey @mathieudutour, huge thx for letting us know about the changes, it was very useful. ❤️I just pushed a new version with support for Sketch v53. Closing the issue.

[2019-03-02 07:42] #154 closed

[2019-03-02 07:47] burakukula commented on #162
@TerribleDev on behalf of all contributors, thank you very much for these very kind words! ❤️❤️❤️

[2019-03-02 15:33] #162 closed

[2019-03-27 14:21] m1ch34lj0hns0n opened #165 "'svgLayers.layers' is undefined"
**html-sketchapp version:** 4.0.0

Hi, I have came across an issue when using the story2sketch _(latest)_ package which has a dependency on html-sketchapp.

When importing my asketch.json into Sketch I am coming across the following error:

_MOJavaScriptException: TypeError: svgLayer.layers is not a function. (In 'svgLayer.layers()', 'svgLayers.layers' is undefined)_

![image](https://user-images.

[2019-03-29 15:19] burakukula commented on #165
@m1ch34lj0hns0n Hey, thx a lot for reporting. 🙂
I will try to reproduce the issue and come back to you. Which version of Sketch you are using currently? The newest one?

[2019-03-29 16:14] m1ch34lj0hns0n commented on #165
Hi @burakukula,

Thanks for the quick response! I'm using 53.1 :)

[2019-04-24 21:18] hipstersmoothie opened #166 "textAlign center causes text wrap"
**html-sketchapp version:** whatever is in the webpacked example

**minimal example:**

 https://codepen.io/andrew-lisowski/project/editor/ZbBpOG

**screenshot from the browser:**

![Screen Shot 2019-04-24 at 2 17 46 PM](https://user-images.githubusercontent.com/1192452/56694533-c3a75c00-669b-11e9-9715-0ff59dd1345b.png)

**screenshot from Sketch:**

![Screen Shot 2019-04-24 at 2 17 19 PM](https://

[2019-04-24 21:21] hipstersmoothie commented on #166
Oddly if i set ` font-family: Tahoma, Arial;` the wrapping doesn't happen

[2019-04-24 21:24] hipstersmoothie commented on #166
And if i click all the way into the text in sketch the width also resolves itself to a degree
![Screen Shot 2019-04-24 at 2 24 29 PM](https://user-images.githubusercontent.com/1192452/56694920-b3dc4780-669c-11e9-9d56-6a105c64c8d8.png)

[2019-05-09 14:55] acrossell-hedgehog commented on #144
I have also had this issue but I've managed to pin down the cause.

background-position: center doesn't work correctly. Using background-position: 0 0 or top left will remedy your problem @loliver @LincMitch @kdzwinel

[2019-05-14 15:36] iansoper commented on #166
Looks like it is defaulting to a font "system-ui" which sketch is not recognizing.

[2019-06-30 11:50] lewis617 commented on #22
Please support this, I have this requirement too

[2019-07-27 15:45] ctmm commented on #159
Hi, @TerribleDev!

I'm facing a similar problem.
Did you manage to find a solution or workaround for this issue?

Thank you for your help!

[2019-07-27 15:47] TerribleDev commented on #159
I did, although I can't exactly remember what I did off the top of my head.

[2019-07-27 17:28] ctmm commented on #159
I understand.

If you could find the time to share it, I will be most grateful. 🏅

[2019-08-23 09:11] kdzwinel opened #169 "4.3 Release"
- [x] update deps
- [x] close old issues / tag new issues
- [x] test in latest Sketch
- [x] merge / close open PRs
- [x] update readme (remove Brainly refs)

- [x] shadow.html - text shadow doesn't work
- [x] shadow-dom.html - shadow content doesn't work
- [x] images.html - breaks

[2019-08-23 13:01] burakukula commented on #166
@hipstersmoothie this is exactly the issue described by @iansoper . The default font in the browser is different than the one supported as default by sketch. As a result, the text does not fit the provided box, measured in the browser and text wrap. I guess the solution here would be to specify font and it should solve the problem.
I would close the issue, hope you don't mind.

[2019-08-23 13:02] #166 closed

[2019-08-23 13:31] burakukula commented on #165
@m1ch34lj0hns0n Seem's like this bug is fixed, I will close the issue.

[2019-08-23 13:31] #165 closed

[2019-08-23 13:39] burakukula commented on #157
@phun-ky could you clarify what do you have in mind?

[2019-08-23 13:41] burakukula commented on #153
It's seem's nothing is going to happen here. I am closing this issue.

[2019-08-23 13:41] #153 closed

[2019-08-23 13:47] burakukula commented on #149
I works as expected, as it's explained by @michalsnik. I am closing this issue.

[2019-08-23 13:47] #149 closed

[2019-08-23 13:48] #148 closed

[2019-08-23 14:20] burakukula commented on #130
I guess it would be great to add 1. option to the plugin so it would ask you to overwrite if page is empty or create a separate page if not empty.

[2019-08-23 15:42] kdzwinel commented on #169
https://github.com/html-sketchapp/html-sketchapp/releases/tag/v4.3.0 🚀

[2019-08-23 15:42] #169 closed

[2019-08-23 15:42] kdzwinel commented on #148
This was just released in v4.3.0. Huge thanks to @daynekilheffer 🙌

https://github.com/html-sketchapp/html-sketchapp/releases/tag/v4.3.0

[2019-09-16 09:16] jh3y opened #176 "[Question] Defining Text Overrides on a SymbolInstance"
Is it possible to define text overrides for a symbol instance?

If I've grabbed an instance from a `Map` as shown [here](https://github.com/html-sketchapp/html-sketchapp/wiki/Usage-Examples#create-and-use-instance-of-a-symbol). If my symbol has a `Text` layer that can be overridden, is there a way to define what text goes inside that instance instead of having to manually update all instances in S

[2019-09-24 04:33] phun-ky commented on #157
Sorry for the later reply!

Well, as far as I have understood the documentation and the basics of this app, you need a macos environment to produce a *.sketchapp file, instead of two .asketch files right? Will it be possible to set up a build pipeline on dev.azure.com on a macos pipeline to be able to produce one file, or will it not work that way? We want to fully automate the generation of the s

[2019-09-24 04:33] phun-ky commented on #152
Any traction on this?

[2019-10-07 13:20] phun-ky commented on #99
Any traction on this? <3

[2019-11-01 01:10] lauriejones opened #179 "Text element with nested element that needs to wrap, overlaps layers in sketch"
When a text element has child elements like a link or span, and needs to wrap, the text layers are placed on top of one another.

**html-sketchapp version:** `4.3.0`

**minimal example:**

[code]

I've seen the same behaviour with divs and spans too:

[code]

**screenshot from the browser:**
![image](https://user-images.githubusercontent.com/11398624/67995509-d6c86380-fc9e-11e9-839d-ba8243ab1c71.p

[2019-11-14 08:03] Renian1 opened #180 "Could someone please suggest, is it possible to get data if the website requires login?"
Could someone please suggest, is it possible to get data if the website requires login?

[2019-12-19 09:15] phun-ky commented on #157
@burakukula Got any more information on this

[2019-12-19 09:17] phun-ky commented on #152
Any traction on this? :)

[2019-12-19 09:18] phun-ky commented on #99
Any traction on this? :) <3

[2020-01-15 14:19] phun-ky opened #184 "Importing SVG icons with viewBox respected or with artboard that has correct height is not working"
The issue is that when using `html-sketchapp-cli` (that uses your code more or less directly) to import svg icons, all my icons (200+) does not get correct width and height set. This means that it is not easy to just swap out an icon in a symbol in Sketch, resulting in pain for our designers. The symbol swapper will only allow to swap icons that has the exact same size.

When importing, I expect t

[2020-01-15 14:28] phun-ky commented on #184
Maybe add something like these guys did, a rectangle? https://github.com/AMoreaux/Sketch-Icons/issues/2

[2020-01-19 20:12] phun-ky commented on #184
I've fixed it on my part by adding a transparent rectangle with the same width and height (when creating the documentation, not the production icons) as the viewbox, but I suggest that this is either done automatically on your behalf or that it is covered in some form of documentation :)

[2020-01-19 20:39] phun-ky opened #186 "Named colors - API ready?"
Don't know which template to use, so I'm just asking. I can see that from the Sketch js API that you can add names to the colors: https://developer.sketch.com/plugins/updates/new-in-sketch-54, is this feature possible with `html-sketchapp`?

[2020-01-20 21:52] phun-ky opened #187 "Support variable fonts"
**Feature description**

I want to be able to store some variable font properties, I.E. `font-variation-settings: "wght" 36;`
I also wan to add colors as shared styles :)

For my reference: https://github.com/seek-oss/html-sketchapp-cli/pull/77

[2020-01-20 21:55] phun-ky commented on #135
any traction on this? ;)

[2020-01-23 00:45] papegaill opened #188 "Editing svg layer crash sketch app."
I'm using [story2sketch](https://github.com/chrisvxd/story2sketch) v1.5.0 and when I edit the layer of the imported svg in sketch, the application crashes completely.

Here is an example of an exported icon in json format:

`{"_class":"page","do_objectID":"a4929089-ce14-44f3-9ef5-acb5129143cf","exportOptions":{"_class":"exportOptions","exportFormats":[],"includedLayerIds":[],"layerOptions":0,"shou

[2020-02-27 12:55] burakukula commented on #135
@phun-ky sorry for this delay, we don't really invested much time in this as far as I can see. But there is this new thing - smart layouts. Maybe you would be able to use this? https://github.com/html-sketchapp/html-sketchapp/pull/177. It was released in version https://github.com/html-sketchapp/html-sketchapp/releases/tag/v4.4.0. Would that help?

[2020-04-01 07:45] matzimowski opened #191 "asketch2sketch plugin doesn't work with Sketch v64"
due to changes here:
abynim/Sketch-Headers@ce52485#diff-2e6721c2d801e437b6678cce78235955

It was already fixed in [sketchapp-json-plugin](https://github.com/darknoon/sketchapp-json-plugin) (which is a dependency in html-sketchapp) but not published to npm yet.
https://github.com/darknoon/sketchapp-json-plugin/issues/16

error from mac console:
<img width="1260" alt="Screenshot 2020-04-01 at 09 43

[2020-04-08 10:27] chrisvxd commented on #191
I'm sure this has already been discussed, but have you considered writing Sketch files directly now that they've opened their file format?

[2020-04-16 20:58] Paul-Hebert opened #196 "X layers couldn't be imported and were skipped."
Hey, thanks for the tool, this is a really cool idea!

I'm running into a couple issues when using the plugin to import generated files. I get an "X layers couldn't be imported and were skipped." error in some cases. It generally still imports _some_ of my layout and styles correctly but often fails to import things like background colors.

There are related issues on the `sketch2story` project bu

[2020-04-22 08:15] burakukula commented on #191
@chrisvxd sure, this would be totally possible now and it would simplify the process a lot. We even have couple of issues open regarding this proposal (i.e https://github.com/html-sketchapp/html-sketchapp/issues/99) but unfortunately no one has time to do it yet. Help needed! 😉

[2020-05-01 02:46] janily opened #197 "how to cover html dom to sketch in current selection?"
in Usage Examples,there are cover html dom to current page.
but,i want to cover html to sketch in current select group or artboard,not create new page?
what do i do? Thanks.

[2020-05-13 15:38] hstarikov-coursera commented on #196
I get the same `X layers couldn't be imported and were skipped.` error, but in my case it's all the layers and nothing is rendered. I tried both `html-sketchapp-example` and `html-sketchapp-style-guide`.
Could it be due to a trial version of sketch that I'm running? Version 65.1

[2020-05-29 02:39] searchboy-sudo opened #198 "No commits for a while"
I'm wondering if this is still being activley developed.

[2020-06-11 18:25] swashcap commented on #196
I've observing the same behavior with the content found here: https://codepen.io/kdzwinel/project/full/AwzQqy

Running Sketch `66.1` on macOS `10.15.6 Beta`.

[2020-06-12 18:40] alexfinnarn commented on #196
I too cannot see anything rendered or added to Sketch. I tried to use the same file as I had two months ago when everything worked. I even backtracked to the Sketch release at that time, `64.0`, but I got the same error.

So, I'm not sure what changed, but the sketch2sketch plugin, this project, and even the example projects don't produce a working file.

https://gist.github.com/alexfinnarn/c60f61

[2020-06-19 14:09] musavvirahmed commented on #198
I'm wondering if this still works, It doesn't work for me.

Does it work for you @searchboy-sudo ?

[2020-06-25 20:35] rt3norio commented on #180
need it too. +1

[2020-06-25 22:52] rt3norio commented on #196
+1.
sketch 66.1

[2020-07-07 09:04] garethmtm commented on #196
+1 - nothing renders :(

Sketch 67.1

[2020-08-03 08:19] janily commented on #198
I'm wondering if this is still being activley developed.

[2020-08-26 07:06] janily opened #201 "background-image(svg base64 ) generater assets thicker than the original size"
my web page hava a element use background-image (svg base64 ),when generate sketch asstes, it is thicker than the original size.above is between the origin and generater asstes,thanks:

**html-sketchapp version:**

4.40

**screenshot from Sketch:**

origin picture:

![](https://tva1.sinaimg.cn/large/007S8ZIlgy1gi486qljbij30pc04oweb.jpg)

generater assets in sketch is thicker

![](https://tva1.sina

[2020-09-14 07:20] #197 closed

[2020-09-14 07:44] janily opened #204 "A node has background-image is svg and background-color at the same time, does not support rendering"
**html-sketchapp version:**
4.4.0
**minimal example:**

https://codepen.io/janily/pen/yLOEXNX

**screenshot from the browser:**

![](https://tva1.sinaimg.cn/large/007S8ZIlgy1giq81zaqq1j305101u741.jpg)

**screenshot from Sketch:**

![](https://tva1.sinaimg.cn/large/007S8ZIlgy1giq83k0nhzj30o00dujrc.jpg)

[2020-09-14 16:54] coderitual commented on #198
Hey @musavvirahmed. Could you share what is not working? Maybe I can help.

[2020-09-16 13:32] woutersamaey commented on #196
+1 this tool is broken

[2020-09-18 12:04] coderitual commented on #204
Thanks for reporting @janily . I will take a look at this.

[2020-09-20 18:07] coderitual commented on #204
Hey @janily. How does your process look? I was able to grab both background image and background image (with small issue with positioning and aspect ratio of the background image).
![image](https://user-images.githubusercontent.com/8572321/93718463-bcc89580-fb7c-11ea-976a-8df7d3c75897.png)

https://codepen.io/coderitual/project/editor/ZwqVMk

[2020-09-21 02:36] janily commented on #204
hi @coderitual I seem to know the reason, My actual code is above, html-sketchapp don't support checked pseudo-class:

the aspect ratio issue is a  problem like #201 , can you help take a look, Thanks.

[code]

[2020-09-21 07:47] coderitual commented on #99
hey @phun-ky , We're looking at this to evaluate the effort needed. It's not number 1 priority at the moment as it still would require to use mac to generate sketch file (as mentioned in here: https://github.com/airbnb/react-sketchapp/pull/359 NSAttributedString is needed to measure the dimension of a sketch layer).

[2020-09-21 08:13] coderitual commented on #204
hey @janily , That's right. At the moment we're not supporting pseudo classes. Issue https://github.com/html-sketchapp/html-sketchapp/issues/201 looks like more important at the moment. I don't see this issue in our style guide. At the moment we wrap svg element and position in in wrapper component.

[2020-09-21 10:45] janily commented on #204
@coderitual thanks, we hove lots of situation use svg with background-image.Looking forward to a solution soon.

[2020-09-21 10:48] coderitual commented on #204
thanks @janily . For now my suggestion would be to wrap svg elements (if it's possible within your codebase)

[2020-09-21 10:57] janily commented on #204
Thanks @coderitual. I also thought about this method, But this is a component library developed by our own team. If  change the use of svg, such as wrap svg elements, the workload is still quite large.
So, I wonder if the community can support this problem.

[2020-09-21 11:19] coderitual commented on #196
Hey! this is caused by `sketchapp-json-plugin`. FIx is already there but package itself is not published. We'll be forking this package to fix this issue. Sorry you had to wait for so long.

Before it happens you can fix it locally:
1. Clone repo https://github.com/darknoon/sketchapp-json-plugin
2. Go to repo and install deps `npm i`
3. Build: `npm run build`
4. Link library to your `html-sketchap

[2020-09-21 11:21] coderitual commented on #191
Hey, fix is coming. For now you can fix it locally https://github.com/html-sketchapp/html-sketchapp/issues/196#issuecomment-696052103

[2020-09-21 11:23] coderitual commented on #188
Hey @papegaill , Not sure what is the cause but you may have broken plugin in sketch. Please take a look: https://github.com/html-sketchapp/html-sketchapp/issues/196#issuecomment-696052103

[2020-09-21 11:25] coderitual commented on #145
Hey @beatscode @kdzwinel . I am closing it as nothing happened here for a while. Let me know if you want to discuss it further.

[2020-09-21 11:25] #145 closed

[2020-09-21 11:37] janily commented on #204
@coderitual  if i changing svg to png(base64) doesn't work either.
![image](https://user-images.githubusercontent.com/1013557/93759808-7f780c80-fc3d-11ea-811a-b9005a5bc903.png)

[2020-09-21 11:39] coderitual commented on #204
yes, if pseudo class is being used it won't work. Unfortunately pseudo classes are not supported yet.

[2020-09-23 17:43] coderitual commented on #198
hey @searchboy-sudo , we have more resources to maintain the library. It is still big effort so if you feel that you can contribute to the project feel welcomed :)

@musavvirahmed @janily Please take a look at the temp solution to have the project working https://github.com/html-sketchapp/html-sketchapp/issues/196#issuecomment-696052103

I am closing this topic if you don't mind. Hope you are stil

[2020-09-23 17:43] #198 closed

[2020-09-25 12:57] woutersamaey commented on #196
@coderitual Any update on when the package will be published, pls?

[2020-09-25 13:02] coderitual commented on #196
Hey @woutersamaey . Sorry I was a bit busy this week but let me prioritize this to have it published early next week.

[2020-09-30 08:40] coderitual commented on #191
I am closing, fixes in https://github.com/html-sketchapp/html-sketchapp/pull/207

[2020-09-30 08:40] #191 closed

[2020-09-30 08:42] coderitual commented on #196
hey @woutersamaey I am not entirely sure if this was the same issue, but if you happen to use recently published version (`4.4.1`) please let me know.

[2020-09-30 08:47] coderitual commented on #157
hey @phun-ky. Did you maybe used https://github.com/seek-oss/html-sketchapp-cli from that time?

[2020-09-30 08:50] coderitual commented on #188
hey @papegaill do you still have the issue with newest version?

[2020-09-30 08:50] phun-ky commented on #157
Yes, but AFAIK, you need to have the support for it?

[2020-09-30 10:36] coderitual commented on #157
hmm I think I didn't get it :) What kind of support do you mean?

[2020-09-30 13:51] tlenex commented on #127
https://cssinjs.org/cli?v=v6.0.2 can be helpfull

[2020-10-01 11:30] tlenex commented on #12
I'm looking into `radial-gradient()` but I'm not quite sure how data structure for sketch should look like.
@kdzwinel @coderitual @matzimowski do you have any docs or examples for this?

[2020-10-01 16:53] tlenex commented on #127
https://github.com/shellscape/postcss-values-parser
even better solution, + main `postcss` runner can parse whole rules too.

[2020-10-01 17:31] tlenex commented on #85
Best way to achieve this, is to move entire codebase into TypeScript.
JS > TS type generators are not ideal.

Btw. TSLint is deprecated https://github.com/palantir/tslint#tslint

[2020-10-26 07:16] #11 closed

[2020-10-26 09:46] tlenex commented on #180
I think, if it's [basic auth](https://en.wikipedia.org/wiki/Basic_access_authentication), then you can just visit html with the URL like: `http://LOGIN:PASSWORD@example.com/path`.

For modern auth solutions, currently the HTML can be downloaded manually (File -> Save as... in the browser) and then crawled from your filesystem.
No credentials in header/cookie support currently AFAIK.

[2020-10-28 11:18] coderitual commented on #180
hey @Renian1 @rt3norio , borwser injecting is out of the scope of `html-sketchapp`. You have full freedom what tool you gonna use to obtain page.

The best idea would be to look at examples usage here: https://github.com/html-sketchapp/html-sketchapp-example
Or even take a look on our internal usage here: https://github.com/brainly/html-sketchapp-style-guide

In above examples we're using [puppete

[2020-10-29 14:40] itsderek23 commented on #196
I manually updated `html-sketchapp` to `^4.4.1` in both [html-sketchapp-example](https://github.com/html-sketchapp/html-sketchapp-example) and [html-sketchapp-style-guide](https://github.com/brainly/html-sketchapp-style-guide). However, still not able to import any layers.

Using Sketch 69.1.

Anyone having better luck than me w/the `4.4.1` release?

[2020-10-29 15:39] coderitual commented on #196
hey @itsderek23, thank you for letting me know. Were you able to build `html-sketchapp` plugin itself and add it to sketch?

![image](https://user-images.githubusercontent.com/8572321/97596283-d921e280-1a04-11eb-95d3-c28b90259f11.png)

`html-sketchapp` contains 2 projects inside: `asketch2sketch` (sketch plugin) and `html2asketch` (core library which is generating *almost* correct files) 4.4.1 was

[2020-10-29 15:55] coderitual commented on #186
hey @phun-ky , sorry for late response. We're not supporting color variables as mentioned in v54 of sketch. The good news is that we're going to support new color swatches available in v69 soon.

[2020-10-29 16:25] itsderek23 commented on #196
RTFM :).

After installing the newly generating `asketch2sketch` plugin (v4.4.1), both of the previously mentioned projects now import layers w/o this warning.

Thanks @coderitual!

[2020-10-29 21:34] itsderek23 opened #209 "v4.4.1 Release is missing the asketch2sketch plugin asset file"
I noticed that prior releases contain an asset for `asketch2sketch`. For example:

![image](https://user-images.githubusercontent.com/7880/97634758-e25a8180-19fb-11eb-85ff-901f4097d710.png)

However, I don't see an asset file for `asketch2sketch` in the latest release (v4.4.1). I believe this requires users to build this manually.

This came up while working on a PR for [story2sketch](https://gith

[2020-10-31 11:09] coderitual commented on #209
hey @itsderek23 thanks for reporting this. I will take a look what happened.

[2020-11-02 22:30] coderitual commented on #85
Hey @tlenex I agree that moving to TS would be solution here and we are considering that. We have some other priorities currently so cannot say any specific date. Let’s keep this open as our reminder.

[2020-11-05 10:11] coderitual commented on #209
I have added plugin artifact to the release. thanks @itsderek23

[2020-11-05 10:11] #209 closed

[2020-11-05 10:55] coderitual commented on #204
duplicate: https://github.com/html-sketchapp/html-sketchapp/issues/20

[2020-11-06 09:29] coderitual commented on #188
I am closing issue for now. @papegaill If you happen to have similar issue with newest plugin please reopen.

[2020-11-06 09:29] #188 closed

[2021-10-08 22:04] halostatue opened #226 "Bookmarklet Implementation"
I’ve adapted [html-sketchapp/html-sketchapp-example](https://github.com/html-sketchapp/html-sketchapp-example) into a bookmarklet: [halostatue/html-sketchapp-bookmarklet](https://github.com/halostatue/html-sketchapp-bookmarklet). It’s just the full page conversion with no smarts, but as far as I can tell it will work on most pages, even where the `html-sketchapp-example` cannot because you have so